In [ ]:
#Write a Python program to swap two variables without using a third variable.

a = 30
b = 50

a = a+b # 80
b = a-b # 30
a = a-b # 50

print(a)
print(b)

50
30

In [ ]:
#Write a program to check whether a number is even or odd.

a = int(input())

if (a%2==0):
  print('a is even')
else:
  print('a is odd')

25
a is odd

In [ ]:
#Write a program to take two numbers and display the larger one.

a = 100
b = 200

if (a>b):

 print(f'large no. {a}')
else:
  print(f'large no. {b}')

large no. 200

In [ ]:
#Create a program to reverse a given string using slicing.

a = str(input())

b = (a[ : : -1])

print(b)

my name
 eman ym

In [ ]:
#Write a Python script to find ASCII value of a character.
a = 'ASCII'

print(ord('A'))#65
print(ord('S'))#83
print(ord('C'))#67
print(ord('I'))#73
print(ord('I'))#73

print(65*83*67*73*73)

65
83
67
73
73
1926246985

In [ ]:
#Write a Python program to check whether a character is alphabet, digit, or special character.

a = str(input())

if a.isalpha():
  print(f'the character is alphabet {a}')

elif a.isnumeric():
  print(f'the character is digit {a}')

else:
  print(f'the character is special character {a}')

mounika
the character is alphabet mounika

In [ ]:
#Write a program to count the number of words in a string.

a = input()

b = a.count('e')

print(b)

my name is mounie
2

In [ ]:
#Write a Python program to replace all spaces in a string with '-' symbol.

a = input()


print(a.split())

b = '>'.join(a)

print(b)

my name
['my', 'name']
m>y> >n>a>m>e

In [ ]:
#join

t = ['usa', 'uk' ,'paris']

'->'.join(t)

'usa->uk->paris'

In [ ]:
# join

a = str(input())

'->'.join(a)

india chaina dubai

'i->n->d->i->a-> ->c->h->a->i->n->a-> ->d->u->b->a->i'

In [ ]:
#join&split
a = 'india chaina dubai'

t = a.split()

'->'.join(t)

'india->chaina->dubai'

In [ ]:
#Write a Python program to display each character from a string along with its index.

a = input()

for index, character in enumerate(a):

  print(f'index: {index},character:{character}')

mounika
index: 0,character:m
index: 1,character:o
index: 2,character:u
index: 3,character:n
index: 4,character:i
index: 5,character:k
index: 6,character:a

In [ ]:
a=[3,4,5]
for i in enumerate(a):
  print(i)

(0, 3)
(1, 4)
(2, 5)

In [ ]:
#Explain the difference between mutable and immutable data types with examples.
#mutable : increase and decrease the memory size in python concept is called mutable&immutable
#mutable concept we have to change the memory
#immutable: concept we do'nt have to change the memory

a = 123
c = 'india'


b = (a*10+4) #immutable
print(b)

d = (str(c)+'mounika')#string immutable
print(d)

1234
indiamounika

In [ ]:
"abc" < "abd"

True

# Python string coding questions

In [ ]:
#Take a string from user and print its length.

a = input()

b = len(a)
print(b)

heloo world
11

In [ ]:
#Input a string and print first and last character.

a = input()
b = a[0]
c = a[-1]

print(f'first character {b}')
print(f'last character {c}')

my system
first character m
last character m

In [ ]:
#Input a string and print character at index 2 and −2.

a = input()

b = (a[2])
c = (a[-2])
print(b)
print(c)

python
t
o

In [ ]:
#Input a string and print the middle character(s).

a = input()

b = a[1:-1]
print(f'middile charcters {b}')

programming
middile charcters rogrammin

In [ ]:
#Reverse a string using slicing.
a = input()
b = a[: : -1]
print(b)

python
nohtyp

In [ ]:
#Extract first 5 characters and last 5 characters.
a = input()

if len(a)>=5:

  print(a[ :5])
  print(a[-5:])

else:
 print(f'do not give atleast 5 charcters{a}')

programming
progr
mming

In [ ]:
#Print every second character from a string.
a = input()
b = a[: : 2]
print(b)

mounika
muia

In [ ]:
#Print characters from 2nd index to 7th index.
a = input()

b = a[2:8]
print(b)

programming
ogramm

In [ ]:
#Remove leading and trailing spaces from input string.
a = input()

b = a.replace(' ','')
print(b)

hello world
helloworld

In [ ]:
#Convert string to uppercase and lowercase.
a = input()
b = a.upper()
c = a.lower()
print(b)
print(c)

mounika
MOUNIKA
mounika

In [ ]:
#Replace all spaces in a string with -.
a = input()
b = a.replace('-','.')
print(b)

hello-chitty-kanna
hello.chitty.kanna

In [ ]:
#Check if a string starts with "A" or ends with "Z".
a = input()
if a.startswith('A') or a.endswith('Z'):
 print(f'f"Yes, the condition is met for:{a}')
else:
  print(f'f"No, the string does not start with A or end with Z for:{a}')

banana
f"No, the string does not start with A or end with Z for:banana

In [ ]:
#Count occurrences of a character in string using count().
a = 'occurrences'
b = a.count('r')
c = a.count('e')
d = a.count('c')
print(b)
print(c)
print(d)

2
2
3

In [ ]:
#Find position of substring in given string.
a = 'substring'
b = a.find('string')
c = a[3:]
print(b)
print(c)

3
string

In [ ]:
#Split a string into words and print each word separately (no loop — use index access methods).
a = input()

g = a.split()

b = g[0]
c = g[1]
d = g[2]
e = g[3]

print(g)
print(b)
print(c)
print(d)
print(e)

mouni chandu ashu laxmi
['mouni', 'chandu', 'ashu', 'laxmi']
mouni
chandu
ashu
laxmi

In [ ]:
#Check if input is numeric or alphabetic.
a = input()
if a.isalpha():
  print(f'given input alpha :{a}')
elif a.isnumeric():
  print(f'given input numeric :{a}')
else:
  print(f'other specialized character :{a}')

123oii76958
other specialized character :123oii76958

In [ ]:
#Swap first and last characters of string using slicing.
a = input()
b = a[-1]
c = a[1:-1]
d = a[0]
e = b+c+d
print(e)

mounika
aounikm

In [ ]:
#Check if two strings are equal (case-insensitive).
a = input()
b = input()

if a.upper() == a.upper():
  print(f'two strings are equal{a}{b}')
else:
  print(f'two strings are not equal')

hello
HeLLo
two strings are not equal

In [ ]:
#Check if two strings are equal (case-insensitive).
a = input()
b = input()
if a==b:
  print('equal two strings')
else:
  print('not equal two strings')

In [ ]:
#Create a substring by skipping characters: s[1:len(s):2].

s = input()

substring = s[1:len(s):2]

print(f"Original string: {s}")
print(f"Resulting substring: {substring}")

python
Original string: python
Resulting substring: yhn

In [ ]:
#Join a list of strings into one string separated by commas.
a = input()
b = a.split()
print(b)
c = ', '.join(b)
print(f"Original list: {a}")
print(f"Joined string: {c}")

banana cherry guva mango
['banana', 'cherry', 'guva', 'mango']
Original list: banana cherry guva mango
Joined string: banana, cherry, guva, mango

#List of python(Assignment)

In [ ]:
#Access the 3rd element of a list.
a = input()
c = a.split()
print(c)
d = c[2]
print(d)

mouni chandu lipsy advith
['mouni', 'chandu', 'lipsy', 'advith']
lipsy

In [ ]:
#Print the last element without using negative index.
a = input().split()
a.reverse()
b = a[0]
print(b)

banana mango chilly dosa
dosa

In [ ]:
#Slice a list to get first three items.
a =input().split()
b = a[0:3]
print(b)

12 13 14 15 16 17 18
['12', '13', '14']

In [ ]:
#Slice to get every second element.
a = input()
b = input()

c = a[ : : 2]
d = b[: : 2]

print(c)
print(d)

12345678910
python programming
135790
pto rgamn

In [ ]:
#Reverse a list using slicing.
a = input()
d = a.split()
print(d)
b = d[: : -1]

print('.'.join(b))

python programming language
['python', 'programming', 'language']
language.programming.python

In [ ]:
a = 'i.love.programming.language'

f = a.split('.')
print(f)

g = f[ : : -1]
print('.'.join(g))

['i', 'love', 'programming', 'language']
language.programming.love.i

In [ ]:
#Create a shallow copy of a list.
a = input().split()

b = a.copy()

print(a)
print(b)

print(id(a))
print(id(b))

this is a book
['this', 'is', 'a', 'book']
['this', 'is', 'a', 'book']
132566169944768
132566169496192

In [ ]:
#Find length of a list.
a = input().split()
b = len(a)
print(b)

12 13 14 15 16 17 18 19
8

In [ ]:
#Find max value in a list.
a = input().split()

b = max(a)
print(b)

12 13 14 15 16 18 19 50
50

In [ ]:
#Find min value in a list.
a = [60,70,30,20,100,200]
b = min(a)
print(b)

20

In [ ]:
#Remove the last element from a list.
a = ['monkey','cat','dog','mouse']
a.pop()
print(a)

['monkey', 'cat', 'dog']

In [ ]:
#Add an item to end of list.
a = [12,13,14,15,16,17,18,19,20]
a.append('true')
print(a)

[12, 13, 14, 15, 16, 17, 18, 19, 20, 'true']

In [ ]:
#Insert element at index 1.
a = [12,13,14,15,16]
a.insert(1,'true')
print(a)

[12, 'true', 13, 14, 15, 16]

In [ ]:
#Convert string to list of characters.
a = 'python programming langauge'
b = list(a)
print(b)

['p', 'y', 't', 'h', 'o', 'n', ' ', 'p', 'r', 'o', 'g', 'r', 'a', 'm', 'm', 'i', 'n', 'g', ' ', 'l', 'a', 'n', 'g', 'a', 'u', 'g', 'e']

In [ ]:
#Convert string "a b c" to ['a','b','c'].
a = 'a b c'
b = a.split()
print(b)

['a', 'b', 'c']

In [ ]:
#Concatenate two lists.
a = [12,13,14,15,16]
b = ['true','flase']
c = a+b
print(c)

[12, 13, 14, 15, 16, 'true', 'flase']

In [ ]:
list1 = ["M", "na", "i", "li"] #concatinate list through index wise
list2 = ["y", "me", "s", "lly"]
list3 = [i + j for i, j in zip(list1, list2)]
print(list3)

['My', 'name', 'is', 'lilly']

In [ ]:
#Check if value exists in list.
a = 'this is my book and pen'
b = 'my book'in a
print(b)

True

In [ ]:
#Create a list from 1-5 using list constructor.
a = list(range(1, 5))
# Print the resulting list
print(a)

[1, 2, 3, 4]

In [ ]:
#Remove an item by value
a = ['white','black','pink','red','blue']
a.remove(a[3])
print(a)

['white', 'black', 'pink', 'blue']

In [ ]:
#Clear all elements of a list.
a = ['white','black','pink','red','blue']
a.clear()
print(a)

[]

In [ ]:
#Sort a list without modifying original list.
a = [15,16,18,19,20,10,9,8,6]
b = a
b.sort()
print(b)

[6, 8, 9, 10, 15, 16, 18, 19, 20]

#Tuple of python(Assignment)

In [ ]:
#Create an empty tuple.
a = ()
print(a)

()

In [ ]:
#Create a tuple with 5 integers.
a = (12,13,14,15,16)
print(a)
type(a)

(12, 13, 14, 15, 16)

tuple

In [ ]:
#Access 3rd element of a tuple.
a =('white','black','pink','blue')
b = a[3]
print(b)
type(b)

blue

str

In [ ]:
#Access last element without negative index.
a = tuple(input().split(','))# we have to put 'split' function inside the tuple.

b = a[: : -1]
c = b[0]
print(c)# Print the last item

blue,black,pink,red
red

In [ ]:
#Slice first three elements.
a =tuple(input().split())
b = a[0:3]
print(b)

12 13 14 15 16 17
('12', '13', '14')

In [ ]:
#Slice every alternate value.
a = tuple(input())

b = a[: : 2]
print(b)
type(b)

programming language
('p', 'o', 'r', 'm', 'i', 'g', 'l', 'n', 'u', 'g')

tuple

In [ ]:
#Reverse a tuple using slicing.
a = tuple(input())
b = a[: : -1]
print(b)

123456789
('9', '8', '7', '6', '5', '4', '3', '2', '1')

In [ ]:
#Concatenate two tuples.

a = (12,13,14,15,16,17)
b = (20,30,40,50,60,70)
c = a+b
print(c)
type(c)

(12, 13, 14, 15, 16, 17, 20, 30, 40, 50, 60, 70)

tuple

In [ ]:
#Replicate tuple (1,2) twice.
a = (1,2)
b = (a*2)
print(b)

(1, 2, 1, 2)

In [ ]:
#Find length of a tuple.
a = tuple(input())
b = len(a)
print(b)

python programming language
27

In [ ]:
#Convert a list to a tuple.
a = [12,13,14,15,16]
b = tuple(a)
print(b)
type(b)

(12, 13, 14, 15, 16)

tuple

In [ ]:
#Convert a string "python" to tuple of characters.
a = 'python'
b = tuple(a)
print(b)

('p', 'y', 't', 'h', 'o', 'n')

In [ ]:
#Check if value exists in tuple.
a = ("red", "green", "blue", "yellow")
b ='blue' in a
c ='yellow' in a
print(b)
print(c)
type(b)
type(c)

True
True

bool

In [ ]:
#Find maximum element in tuple.
a = (12,30,45,60,75,80)
b = max(a)
print(b)

80

In [ ]:
#Find minimum element in tuple.
a = (12,30,45,60,75,80)
b = min(a)
print(b)

12

In [ ]:
#Count how many times 2 appears in (1,2,2,3).
a =(1,2,2,3)
b = a.count(2)
print(b)

2

In [ ]:
#Find index of an element.
a = (12,30,45,60,75,80)
b = a.index(45)
print(b)

2

In [ ]:
#Perform tuple packing.
details ='mounika',30000,'datascience'#save in the memory

In [ ]:
type(details)

tuple

In [ ]:
#Perform tuple unpacking into variables.
Name,Fee,Course = details#calling from memory

In [ ]:
#represents the values
print(Name)
print(Fee)
print(Course)

mounika
30000
datascience

In [ ]:
#Convert tuple to string without loops.
type(Name)
type(Fee)
type(Course)

str

In [ ]:
#Convert tuple to string without loops.
a = (12,13,14,15,16)
b = str(a)
print(type(b))

<class 'str'>

#Set of python(Assignment)

In [ ]:
#Create a set with five numbers.
a = set()
b = a.add(12)
c =a.add(13)
d =a.add(14)
e =a.add(15)
f =a.add(16)
print(a)

{12, 13, 14, 15, 16}

In [ ]:
#Add an element to a set.
a = {2,4,5,6,7,18,20,}

a.update([400,420])
print(a)

{2, 4, 5, 6, 7, 400, 18, 20, 420}

In [ ]:
f = {10,50,9,19} # save in the Memory

f.update([100,200,500])

print(f)

{100, 200, 9, 10, 50, 19, 500}

In [ ]:
#Remove an element from a set if present.
a = {10,50,9,19}
a.remove(9)
print(a)

{10, 19, 50}

In [ ]:
#Convert a list into a set.
a = [10,50,9,19]
b = set(a)
print(b)

{9, 10, 19, 50}

In [ ]:
#Check if an element exists in a set.
a = {'data','mango','cherry'}
b = 'mango' in a #substring
print(b)

True

In [ ]:
#Find union of two sets.
a = {21,31,43,56}
b = {13,17,56,20}
c = a|b
print(c)

{43, 13, 17, 20, 21, 56, 31}

In [ ]:
#Find intersection of two sets.
a = {21,31,43,56}
b = {13,17,56,20}
c = a&b
print(c)

{56}

In [ ]:
#Find difference between two sets.
a = {21,31,43,56}
b = {13,17,56,20}
c = a-b
print(c)

{43, 21, 31}

In [ ]:
#Find symmetric difference between two sets.
a = {21,31,43,56}
b = {13,17,56,20}
c = a^b
print(c)

{43, 13, 17, 20, 21, 31}

In [ ]:
#Remove all elements from a set.
a = {21,31,43,56}
a.clear()
print(a)

set()

In [ ]:
#Create a frozen set from a list.
#A frozenset in Python is an immutable (unchangeable) version of a standard Python set [1, 2].
#Once a frozenset is created, you cannot add or remove elements from it.
a = [12,34,12,15,34,16,17]
b = frozenset(a)
print(b)
type(b)

frozenset({34, 12, 15, 16, 17})

frozenset

In [ ]:
#Convert a string into a set of characters.
a = '12,34,12,15,34,16,17'
b = set(a)
print(b)

{'4', '6', '3', '2', ',', '7', '1', '5'}

In [ ]:
#Check if one set is subset of another.#use<=
a = {21,31,43,56}
b = {13,17,56,20}
c = a<=b
print(c)

False

In [ ]:
#Check if one set is subset of another.#use<=
a = {21,31,43,56}
b = {13,21,43,20}
c = a<=b
print(c)

False

In [ ]:
##Check if one set is subset of another.#use<=
a = {21,31,43}
b = {21,31,43,20}
c = a<=b
print(c)

True

In [ ]:
#Check if one set is superset of another.
A = {1, 2, 3, 4, 5}  # The potential superset
B = {1, 2, 3}        # The potential subset
C = {1, 6}
d = A>=B
e =B>=C
print(d)
print(e)

True
False

In [ ]:
#Check if two sets are disjoint.
#To check if two sets are disjoint
 #(meaning they have no elements in common), you can use the .isdisjoint() method in Python.
a = {21,31,43,56}
b = {13,17,56,20}
c = a.isdisjoint(b)
print(c)

False

In [ ]:
#disjoint
a = {21,31,43,56}
b = {13,17,45,20}
c = a.isdisjoint(b)
print(c)

True

In [ ]:
#Find length of a set.
a = {21,31,43,56}
b = len(a)
print(b)

4

In [ ]:
#Pop an element from set and display result.
a = {34, 12, 15, 16, 17}
a.pop()
print(a)

{17, 34, 12, 15}

In [ ]:
#Copy a set into another set variable.
a = {34, 12, 15, 16, 17}
b = a.copy()#shallow copy
print(a)
print(b)
print(id(a))
print(id(b))
print(type(a))

{16, 17, 34, 12, 15}
{16, 17, 34, 12, 15}
134583619745632
134583619744288
<class 'set'>

In [ ]:
#Copy a set into another set variable.
a = {34, 12, 15, 16, 17}
b = a #deep copy
print(a)
print(b)
print(id(a))
print(id(b))
print(type(a))

{16, 17, 34, 12, 15}
{16, 17, 34, 12, 15}
134583619740704
134583619740704
<class 'set'>

In [ ]:
#Create a set from a tuple.
a = (34, 12, 15, 16, 17)#tuple
b = set(a)
print(b)#converting set

{34, 12, 15, 16, 17}

In [ ]:
#Create two sets and show elements unique to each (symmetric diff).
a = {21,31,43,56}
b = {13,17,45,20}
c = a^b
print(c)

{43, 13, 45, 17, 20, 21, 56, 31}

In [ ]:
#Create a dictionary with 3 key-value pairs and print it.
x = {'cherry':[500,200,150],'banana':[550,300,200],'apple':[350,356,400]}
print(x)

{'cherry': [500, 200, 150], 'banana': [550, 300, 200], 'apple': [350, 356, 400]}

In [ ]:
#Access and print the value of a specific key from a dictionary.
x = {'cherry':[500,200,150],'banana':[550,300,200],'apple':[350,356,400]}
print(x['banana'])

[550, 300, 200]

In [ ]:
# Use get() to retrieve a value safely without causing an error.
x = {'cherry':[500,200,150],'banana':[550,300,200],'apple':[350,356,400]}
print(x.get('cherry')[1])

200

In [ ]:
#Merge two dictionaries into a new one using update().
x ={'python':[200,360],'java':[600,700]}
y ={'sap':[100,250],'dotnet':[400,500]}

z = x.copy()
z.update(y)


print(f"Original dictionary 1: {x}")
print(f"Original dictionary 2: {y}")
print(f"Merged new dictionary: {z}")

Original dictionary 1: {'python': [200, 360], 'java': [600, 700]}
Original dictionary 2: {'sap': [100, 250], 'dotnet': [400, 500]}
Merged new dictionary: {'python': [200, 360], 'java': [600, 700], 'sap': [100, 250], 'dotnet': [400, 500]}

In [ ]:
#Remove a specific key using pop() and print the updated dictionary.
x = {'cherry':[500,200,150],'banana':[550,300,200],'apple':[350,356,400]}
x.pop('banana')
print(x)

{'cherry': [500, 200, 150], 'apple': [350, 356, 400]}

In [ ]:
#Check if a key exists in a dictionary using in operator.
x ={'python':[200,360],'java':[600,700]}
if 'java' in x:
  print(f'java exits in {x}')
else:
  print(f'java not exits in {x}')

java exits in {'python': [200, 360], 'java': [600, 700]}

In [ ]:
#Retrieve all the keys from a dictionary using keys() method.
x = {'cherry':[500,200,150],'banana':[550,300,200],'apple':[350,356,400]}
y = x.keys()
print(y)

dict_keys(['cherry', 'banana', 'apple'])

In [ ]:
#Retrieve all the values from a dictionary using values() method.
x = {'cherry':[500,200,150],'banana':[550,300,200],'apple':[350,356,400]}
y = x.values()
print(y)

dict_values([[500, 200, 150], [550, 300, 200], [350, 356, 400]])

In [ ]:
#Get all key-value pairs from a dictionary using items().
x = {'cherry':[500,200,150],'banana':[550,300,200],'apple':[350,356,400]}
x.items()
print(x)

{'cherry': [500, 200, 150], 'banana': [550, 300, 200], 'apple': [350, 356, 400]}

In [ ]:
#Create a copy of a dictionary and verify both are independent.
x = {'cherry':[500,200,150],'banana':[550,300,200],'apple':[350,356,400]}
z = x.copy()

print(id(x))
print(id(z))

x['orange'] = 150

print(x)
print(z)

134327512489280
134327512497344
{'cherry': [500, 200, 150], 'banana': [550, 300, 200], 'apple': [350, 356, 400], 'orange': 150}
{'cherry': [500, 200, 150], 'banana': [550, 300, 200], 'apple': [350, 356, 400]}

In [ ]:
#Use setdefault() to insert a key only if it doesn’t exist.
x = {'cherry':[500,200,150],'banana':[550,300,200],'apple':[350,356,400]}
x.setdefault('orange',150)
print(x)

{'cherry': [500, 200, 150], 'banana': [550, 300, 200], 'apple': [350, 356, 400], 'orange': 150}

In [ ]:
#Convert a list of tuples [("a",1),("b",2)] into a dictionary.
x = [("a",1),("b",2)]
y = dict(x)
print(y)

{'a': 1, 'b': 2}

In [ ]:
#13 Convert two lists ["a","b"] and [1,2] into a dictionary.
x = ["a","b"]
y = [1,2]
f = {}
for i in range(len(x)):
  f[x[i]] = y[i]


print(f)

{'a': 1, 'b': 2}

In [ ]:
#Find the length of a dictionary using len().
x = {'cherry':[500,200,150],'banana':[550,300,200],'apple':[350,356,400]}
y = len(x)
print(y)

3

In [ ]:
#Delete all items from a dictionary using clear().
x = {'cherry':[500,200,150],'banana':[550,300,200],'apple':[350,356,400]}
x.clear()
print(x)

{}

In [ ]:
#Extract keys as a list and slice the first two.
x = {'cherry':[500,200,150],'banana':[550,300,200],'apple':[350,356,400]}
z= x.keys()
a = list(z)
b = a[:2]

print(f"Original Dictionary: {z}")
print(f"All Keys as a list: {a}")
print(f"First two keys sliced: {b}")

Original Dictionary: dict_keys(['cherry', 'banana', 'apple'])
All Keys as a list: ['cherry', 'banana', 'apple']
First two keys sliced: ['cherry', 'banana']

In [ ]:
#17 Sort the dictionary by keys and display it.

In [ ]:
#Access a nested dictionary value, e.g., {"emp":{"name":"John","age":30}}.

x = {"emp":{"name":"John","age":30}}
employee_name = x['emp']['name']
employee_age = x['emp']['age']
print(x)
print(f'Name:{'Jhon'}')
print(f'age:{30}')

{'emp': {'name': 'John', 'age': 30}}
Name:Jhon
age:30

In [ ]:
#Use dictionary comprehension (without loops) to create a dictionary from a string using dict(zip()).

In [ ]:
#Find the maximum and minimum value in a dictionary using built-in functions.
x = {'cherry':[500,200,150],'banana':[550,300,200],'apple':[350,356,400]}
y = max(x)
z = min(x)
print(y)
print(z)

cherry
apple

In [ ]:
#Find the given number is perfect or not:
x = int(input())
z = 0
for i in range(1,x):
 if (x%i==0):
  z = z+i
if(z==x):
   print('given no. is perfect')
else:
    print('given no. is not perfect')

28
given no. is perfect

#Assignment of LOOP's
.For Loop

.While Loop

#string with loop Assignments

In [ ]:
#Write a Python program to count the number of characters in a string without using len function.
a = 'python java'
b = 0
for i in a:
  b= b+1
  print(b)

1
2
3
4
5
6
7
8
9
10
11

In [ ]:
#Write a Python program to find the longest word in a string.
a = 'python is Easy Language'
b=a.split(' ')
print(b)
c={}
for i in b:
  c[i]=len(i)
print(c)
z =max(c.values())
print(z)
for j in c:
  if c[j]==z:
    print(j)

['python', 'is', 'Easy', 'Language']
{'python': 6, 'is': 2, 'Easy': 4, 'Language': 8}
8
Language

In [ ]:
#Write a Python program to find the frequency of each character in a string.
a = 'sharuk khan'
d = {}
for i in a:
 if i not in d:
   d[i]= 1
 else:
   d[i]=d[i]+1
print(d)

{'s': 1, 'h': 2, 'a': 2, 'r': 1, 'u': 1, 'k': 2, ' ': 1, 'n': 1}

In [ ]:
#Write a Python program to find the most common character in a string.
a = 'Hello world'
d = {}
for i in a:
 if i not in d:
  d[i]= 1
 else:
  d[i]=d[i]+1
n = max(d.values())
for i in d:
  if d[i] == n:
    print("Most frequent character:", i)
print("Frequency:", n)

Most frequent character: l
Frequency: 3

In [ ]:
#Write a Python program to check if a string is a palindrome don't use [::-1].
a = 'NUN'
d = ''
for i in a:
  d =i+d
if d==a:
   print(f'Palindrome:{d}')
else:
   print(f'not palindrome:{d}')

Palindrome:NUN

In [ ]:
#Write a Python program to remove all the vowels from a string.
a= 'python'
b = 'AEIOUaeiou'
c ={}
for i in a:
  if i not in c:
   c[i] = 1
for j in c:
  if j not in b:
    print(j,end='')

pythn

In [ ]:
#Write a Python program to check if two strings are anagrams.
a = 'listen'
b = 'silent'
c = 0
for i in a:
  if i in b:
    c=c+1
if len(a)==c:
  print('Anagrams')
else:
  print('not anagrams')

Anagrams

In [ ]:
#Write a Python program to capitalize the first letter of each word in a string [dont use built-in-function called title].
a = 'python is easy'
b = a.split()
c = ''
for i in b:
  c = i.capitalize()
  print(c)

Python
Is
Easy

In [ ]:
#Write a Python program to reverse a string without using [::-1]
s = "Python"
d = ''
for i in s:
  d = i+d
print(d)

nohtyP

In [ ]:

#write a python programme to find the sum of all the even characters based on Ascii values
a = 'sharuk khan'
r = 0
for i in a:
  if ord(i)%2==0:
    r = r + ord(i)
print(r)

464

#List with Loop assignments

In [ ]:
#Question 1: Write a Python program to count the number of elements in a list without using len.
a = [10,11,12,13]
c=0
for i in a:
  c=c+1#c=2,c=3...
  print(c)

1
2
3
4

In [ ]:
a = [10,11,12,13,14,15,16]
max = a[0]
min = a[0]
for i in a:
  if i > max:
    max = i
for j in a:
  if j < min:
    min = j
print(max)
print(min)

16
10

In [ ]:
a = [10,11,12,13,14,15,16]
max = a[0]
min = a[0]
for i in a:
  if i > max:
    max = i
  elif i < min:
    min = i
print(max)
print(min)

16
10

In [ ]:
#Question 3: Write a Python program to remove the first occurrence of a specified element from a list.
a = [1,2,3,4,2,5,4,4]
b = []
for i in a:
  if i not in b:
   b.append(i)
print(b)

[1, 2, 3, 4, 5]

In [ ]:
#Question 4: Write a Python program to find the average of all the elements in a list.
a = [1,2,3,4,2,5]
sum = 0
for i in a:
  sum=sum+i
print(sum)
count=len(a)
print(count)

if sum/count:
  A = sum/count
print(A)

17
6
2.8333333333333335

In [ ]:
#Question 5: Write a Python program to check if a list is empty or not.
var1 = [1,2]#result : Not empty
d = []
if var1==d:
  print('given var1 is empty')
else:
  print('given var1 is not empty')

given var1 is empty

In [ ]:
var1 = []#empty
d =[1,2]
if var1!=d:
  print('given var1 is empty')
else:
  print('given var1 is not empty')

given var1 is empty

In [ ]:
#Question 6: Write a Python program to find the index of a specified element in a list..
var = [1,2,3,4,2,5]#result : 3 index is 2
b = var[2]
for i in var:
  i==b
  c==i
if b==c:
 print(f'{b}index is:{c} ')

In [ ]:
#Question 7: Write a Python program to find which number is palindrome in below given list .
a = [134,121,155]

for i in a:
  f=i
  s=0
  while f>0:
    res =f%10
    s =(s*10)+res
    f =f//10
  if i == s:
    print(f'palindrome:{s}')
  else:
    print(f'not a palindrome:{s}')

not a palindrome:431
palindrome:121
not a palindrome:551

In [ ]:
#Question 8: Write a Python program to find the common elements between two lists.
var1 = [1,2,3,4,10,11]
var2 = [10,11,12,14]
var3 = set(var1)
var4 = set(var2)
b = var3 & var4
print(f"Intersection: {b}")

Intersection: {10, 11}

In [ ]:
#Question 8: Write a Python program to find the common elements between two lists.
var1 = [1,2,3,4,10,11]
var2 = [10,11,12,14]
b = []
for i in var1:
  if i in var2:
    b.append(i)
print(f'result:{b}')

result:[10, 11]

In [ ]:
#Question 9: Write a Python program to remove the duplicates from a list
var = [10,11,12,10,12,24]#result : [10,11,12,24]
b = set(var)
for i in var:
  b.add(i)
print(b)

{24, 10, 11, 12}

In [ ]:
#Question 10: Write a Python program to sort a list of strings in Ascii Order [Ascending order]
var = ['a' , 'c' , 'b',]#result : ['a' , 'b' , 'c']
l = []
for i in var:
    l.append(i)
    l.sort()
print(l)

['a', 'b', 'c']

In [ ]:
#write a python programme to find the sum of all the even characters based on Ascii values
a = 'sharuk khan'
r = 0
for i in a:
  if ord(i)%2==0:
    r = r + ord(i)
print(r)

464

In [ ]:
#1.Python program to display the given integer in reverse manner
a = 1234 #4321
f=a
s = 0
while a > 0:
  res = a%10
  s = (s * 10) + res
  a = a//10
if a==s:
  print()
else:
  print(s)

4321

In [ ]:
#Python program to find the sum of the digits of an integer using while loop
a = 1234 # 10
s = 0


while a > 0:
  res = a % 10
  s = s + res
  a = a// 10
print(s)

10

In [ ]:
#Python program to generate the prime numbers from 1 to 100
for i in range(1,100):
  if i>1:
    for j in range(2,i):
      if i%j==0:
        break
    else:
        print(i,end=' ')

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

In [ ]:
#Write a Python program to move spaces to the front of a given string.
a = 'sai kamal' #' saikamal'
b = a.replace(' ' ,'' )  #remove spaces
a ='  '+b
for i,j in enumerate(a):
  print(i,j)

0
1
2 s
3 a
4 i
5 k
6 a
7 m
8 a
9 l

In [ ]:
L =  [ [ 12, 34, 25], [1, 45, 0] ]
b = []
for i in L:

  for j in i:
    if j%2==0:
      pass
    else:
      b.append(j)
print(b)

[25, 1, 45]

In [ ]:
##Python program to generate the prime numbers from 1 to 100
for i in range(1,100):
  c=0
  for j in range(1,i+1):
    if i%j==0:
      c=c+1
  if c==2:
    print(i,end=' ')

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

In [ ]:
#5.Write a Python program to count Uppercase, Lowercase, special character and numeric values in a given string.
#sample input : data sCience 12444
#sample output :
#upper case : 1
#lower case : 10
#numbers : 5
#space : 2
a = 'data sCience 12444'
low=0
upper=0
numbers=0
space=0
for i in a:
  if i.isupper():
    upper=upper+1
  elif i.islower():
    low=low+1
  elif i.isnumeric():
    numbers=numbers+1
  else:
    space=space+1
print(f'upper case:{upper}')
print(f'lower case:{low}')
print(f'numbers:{numbers}')
print(f'space:{space}')

upper case:1
lower case:10
numbers:5
space:2

In [ ]:
#8. list1 = [10, 20, 30, 40]
   #list2 = [100, 200, 300, 400]
#Expected output:
#10 400
#20 300
#30 200
#40 100
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]

for i in list1:
  i=list1
for j in list2:
   j = list2[: : -1]
for i,j in zip(i,j):
  print(i,j)

10 400
20 300
30 200
40 100

In [ ]:
#7.`Given a range of the first 10 numbers, Iterate from the start number to the end number,
# and In each iteration print the sum of the current number and previous number`
cn = 0
pn = 0
sum = 0
for i in range(10):
  sum = i + pn
  print(f'Current number : {i} Previous Number: {pn}, sum : {sum}')
  pn=i

Current number : 0 Previous Number: 0, sum : 0
Current number : 1 Previous Number: 0, sum : 1
Current number : 2 Previous Number: 1, sum : 3
Current number : 3 Previous Number: 2, sum : 5
Current number : 4 Previous Number: 3, sum : 7
Current number : 5 Previous Number: 4, sum : 9
Current number : 6 Previous Number: 5, sum : 11
Current number : 7 Previous Number: 6, sum : 13
Current number : 8 Previous Number: 7, sum : 15
Current number : 9 Previous Number: 8, sum : 17

In [ ]:
# fibonacci series

n = 8

a = 0
b = 1

print(a)
print(b)

for i in range(n-2):
  c = a + b
  print(c)
  a = b
  b = c

0
1
1
2
3
5
8
13

In [ ]:
f = 'aaabbcaa'
print(f(a3+b2+c1+a2))

NameError: name 'a3' is not defined

TypeError: string indices must be integers, not 'str'