In [ ]:
a = 'python is Easy Language'
b=a.split(' ')
print(b)
c={}
for i in b:
  c[i]=len(i)
print(c)
large=max(c.values())
print(large)
for i in c:
  if c[i]==large:
    print(i)

['python', 'is', 'Easy', 'Language']
{'python': 6, 'is': 2, 'Easy': 4, 'Language': 8}
8
Language

#control Statements

.for loop

.while loop

.conditional Statements

.if

.else

.elif

.break

In [ ]:
for i in range(21,26):
  print(f'Good morning')
  print(f'Have a nice day')

Good morning
Have a nice day
Good morning
Have a nice day
Good morning
Have a nice day
Good morning
Have a nice day
Good morning
Have a nice day

In [ ]:
print("india")
for i in a:
  print(f'')

In [ ]:
for i in range(101,1,-2):
  print(i,end=' ')

101 99 97 95 93 91 89 87 85 83 81 79 77 75 73 71 69 67 65 63 61 59 57 55 53 51 49 47 45 43 41 39 37 35 33 31 29 27 25 23 21 19 17 15 13 11 9 7 5 3

In [ ]:
for i in range(1,10,3):
    print(i , end=" ")

1 4 7

In [ ]:
#range(11,16): output:even and odd numbers.
for i in range(11,16):
  if i%2==0:
    print(f'even no.s:{i}')
  else:
    print(f'odd no.s:{i}')

odd no.s:11
even no.s:12
odd no.s:13
even no.s:14
odd no.s:15

In [ ]:
a=[1,2,3,4,5,6,7,8,9,10,11]
t = len(a) // 2
print(a[t-1],a[t],a[t+1])

5 6 7

In [ ]:
n = 11
r =3
for i in range(n):
  print(i*r)

0
3
6
9
12
15
18
21
24
27
30

In [ ]:
#6!(6*5*4*3*2*1) output:
n = 6
t = 1
for i in range(1,n+1):
  t = i*t
  print(t)

1
2
6
24
120
720

In [ ]:
#perfect number or not?
x = 6
b =[]
for i in range(1,x):
  if x%i==0:
    b.append(i)
print(b)
if sum(b)==x:
  print(f'perfect number:{x}')
else:
  print(f'not perfect number:{x}')

[1, 2, 3]
perfect number:6

In [ ]:
#perfect number or not?
x = 28
b = []
for i in range(1,x):
  if x%i==0:
    b.append(i)
print(b)
if sum(b)==x:
  print(f'perfect number:{x}')
else:
  print(f'not perfect number:{x}')

[1, 2, 4, 7, 14]
perfect number:28

In [ ]:
#All starts print.
for i in range(1,5):
  for j in range(1,6):
    print('*',end=' ')
  print()#cut the line

* * * * *
* * * * *
* * * * *
* * * * *

In [ ]:
#nested loop
a = 6
b = 2
while a>0:
    while b<=6:
        print("*"*b)
        b = b+1
        a = a-1
    break

**
***
****
*****
******

In [ ]:
#13table print.
i=1
while i<=10:
  print(f'13*{i}={i*13}')
  i = i+1

13*1=13
13*2=26
13*3=39
13*4=52
13*5=65
13*6=78
13*7=91
13*8=104
13*9=117
13*10=130

In [ ]:
marks = [77, 90, 57, 67, 78]
sum = 0
for i in marks:
  sum = sum+i
print(sum)

369

In [ ]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i =i+1

1
2
3

In [ ]:
i = 1
while i < 6:
  print(i)
  i=i+ 1

1
2
3
4
5

In [ ]:
while True:
    x = int(input("Enter 7 to stop "))
    if x == 7:
        break

Enter 7 to stop 1
Enter 7 to stop 2
Enter 7 to stop 4
Enter 7 to stop 6
Enter 7 to stop 7

In [ ]:
a = {'a':10,'b':20}
b = {}
for i,j in a.items():
  b[j]=i
print(b)

{10: 'a', 20: 'b'}

In [ ]:
b ={}
b['a']=100
print(b)

{'a': 100}

In [ ]:

i = 0
while i<=10:
  print(i)
  if i==7:
   break
  i = i+1

0
1
2
3
4
5
6
7

In [ ]:
# 14 table.
i = 0
while i<=10:
  print(i*14)
  i = i+1

0
14
28
42
56
70
84
98
112
126
140

In [ ]:
#frequency checking.
x = 'python is easy programming language'
y = x.split()
print(y)
b = {}
for i in x:
  if i not in b:
   b[i]=1
  else:
    b[i]=b[i]+1
print(b)
c = max(b.values())
print(c)
for j in b:
  if b[j]==c:
    print('most frequent character:',j)
else:
    print('frequency:',c)

['python', 'is', 'easy', 'programming', 'language']
{'p': 2, 'y': 2, 't': 1, 'h': 1, 'o': 2, 'n': 3, ' ': 4, 'i': 2, 's': 2, 'e': 2, 'a': 4, 'r': 2, 'g': 4, 'm': 2, 'l': 1, 'u': 1}
4
most frequent character:
most frequent character: a
most frequent character: g
frequency: 4

In [ ]:

a = 7
b = 2
while a>0:
  while b<=7:
    print('*'*b)
    b = b+1
    a = a-1
  break

**
***
****
*****
******
*******

In [ ]:
a = 3
while a<=10:
  print(a)
  a = a+1

3
4
5
6
7
8
9
10

In [ ]:
a = 0
while a<=4:
  print(a*3)
  a = a+1

0
3
6
9
12

In [ ]:
#7! (7*6*5*4*3*2*1)
n = 7
t = 1
for i in range(1,n+1):
  t= t*i
  print(t)

1
2
6
24
120
720
5040

In [ ]:
#4!
a = 4
j = 1
for i in range(1,a+1):
  j = j*i
  print(j)

1
2
6
24

In [ ]:
a = [10,11,15,16,17,18]
b = 0
for i in a:
  b = b+i
  print(b)

10
21
36
52
69
87

In [ ]:
10+11+15+16+17+18

87

In [ ]:
#f = 'aaabbcaa'# sample output: 'a3b2c1a2'
f = 'aaabbcaa'
a=''
count=1
for i in range(1,len(f)):
  if f[i]==f[i-1]:
    count+=1
  else:
    a =a+f[i-1]+str(count)
    count=1
a =a+f[-1]+str(count)
print(a)

a3b2c1a2