**control Statements**

- `for loop `
- `while loop`


**conditional Statements**

- `if `
- `else `
- `elif `
- `break`

`syntax of forloop`


for [var] in range(sp,ep):
    
    `logic here `

In [ ]:
for i in range(21,26):
  print('Good Morning')

Good Morning
Good Morning
Good Morning
Good Morning
Good Morning

In [ ]:
print("india")

for j in range(11,15):
  print('Good Evening',j)
  print('USA')


print('canada')

india
Good Evening 11
USA
Good Evening 12
USA
Good Evening 13
USA
Good Evening 14
USA
canada

In [ ]:
for usa in range(5):
  print(usa)

0
1
2
3
4

In [ ]:
for usa in range(5):
  print(usa , end = ' ')

0 1 2 3 4

In [ ]:
print('I am from india')
for j in range(21,31):
  print('Hi hello',j)
print('I am from chennai')
for k in range(3):
  print('pppp',end=' ')
print()
print('I am from Hyderabad')

I am from india
Hi hello 21
Hi hello 22
Hi hello 23
Hi hello 24
Hi hello 25
Hi hello 26
Hi hello 27
Hi hello 28
Hi hello 29
Hi hello 30
I am from chennai
pppp pppp pppp
I am from Hyderabad

In [ ]:
for i in range(11,15):
  print('DS and DA',i)
  for j in range(21,24):
    print('india',j)

DS and DA 11
india 21
india 22
india 23
DS and DA 12
india 21
india 22
india 23
DS and DA 13
india 21
india 22
india 23
DS and DA 14
india 21
india 22
india 23

In [ ]:
for i in range(11,15):
  for j in range(21,24):
    for k in range(45,49):
      print(i,j,k)

11 21 45
11 21 46
11 21 47
11 21 48
11 22 45
11 22 46
11 22 47
11 22 48
11 23 45
11 23 46
11 23 47
11 23 48
12 21 45
12 21 46
12 21 47
12 21 48
12 22 45
12 22 46
12 22 47
12 22 48
12 23 45
12 23 46
12 23 47
12 23 48
13 21 45
13 21 46
13 21 47
13 21 48
13 22 45
13 22 46
13 22 47
13 22 48
13 23 45
13 23 46
13 23 47
13 23 48
14 21 45
14 21 46
14 21 47
14 21 48
14 22 45
14 22 46
14 22 47
14 22 48
14 23 45
14 23 46
14 23 47
14 23 48

In [ ]:
money = 120000
iphone = 80000

if money > iphone:
  print('I can buy iphone')

I can buy iphone

In [ ]:
money = 20000
iphone = 80000

if money > iphone:
  print('I can buy iphone')


else:
  print('I dont have enough money')

I dont have enough money

In [ ]:
money = 120000
iphone = 80000

if money > iphone:
  print('I can buy iphone')


else:
  print('I dont have enough money')

I can buy iphone

In [ ]:
iphone = 80000
money = 40000
samsung = 50000
vivo = 30000

if money > iphone:
  print('I can buy Iphone')

elif money > samsung:
  print('I can buy samsung')

elif money > vivo:
  print('I can buy vivo')

else:
  print('Money not sufficient')

I can buy vivo

In [ ]:
for i in range(11,16):
  if i % 2 == 0:
    print(f'Even : {i}')

Even : 12
Even : 14

In [ ]:
for i in range(11,16):
  if i % 2 == 0:
    print(f'Even : {i}')

  else:
    print(f'Odd : {i}')

Odd : 11
Even : 12
Odd : 13
Even : 14
Odd : 15

In [ ]:
n = 5
r = 3

for i in range(n):
  print(r * i)

0
3
6
9
12

In [ ]:
# 5! = 5 * 4 * 3 * 2 * 1 = 120

n = 6
t = 1


for i in range(1,n+1):
  t = t * i


print(t)

720

In [ ]:
# Find the given number is perfect or not:

n = 6
t = []

for i in range(1,n):
  if n % i == 0:
    t.append(i)

print(t)

if sum(t) == n:
  print(f'{n} : is a Perfect Number')

else:
  print(f'{n} : is not a perfect number')

[1, 2, 3]
6 : is a Perfect Number

In [ ]:
# Find the given number is perfect or not:

n = 6
t = 0

for i in range(1,n):
  if n % i == 0:
    t = t + i


if t == n:
  print(f'{n} : is a Perfect Number')

else:
  print(f'{n} : is not a perfect number')

6 : is a Perfect Number

In [ ]:
for i in range(1,5):
  for j in range(1,6):
    print('*',end=' ')
  print()

* * * * *
* * * * *
* * * * *
* * * * *

In [ ]:
f = 'india' # save in the Memory

for i in f:
  print(i)

i
n
d
i
a

In [ ]:
f = 'india' # save in the Memory

for i in f:
  print(i , ord(i))

i 105
n 110
d 100
i 105
a 97

In [ ]:
f = 'india' # save in the Memory

for i in range(len(f)):
  print(f[i])

i
n
d
i
a

In [ ]:
t = [10,12,13,19,22] # save in the Memory


for i in t:
  print(i + 100)

110
112
113
119
122

In [ ]:
t = [10,12,13,19,22] # save in the Memory

for i in t:
  if i % 2 == 0:
    print(f'Even : {i}')

Even : 10
Even : 12
Even : 22

In [ ]:
t = (10,12,13,19,22) # save in the Memory

for i in t:
  if i % 2 == 0:
    print(f'Even : {i}')

Even : 10
Even : 12
Even : 22

In [ ]:
fruits = {'apple':100 , 'banana':200 , 'carrot':300}


for i in fruits:
  print(i)

apple
banana
carrot

In [ ]:
fruits = {'apple':100 , 'banana':200 , 'carrot':300}


for i in fruits:
  print(i , fruits[i])

apple 100
banana 200
carrot 300

In [ ]:
f = 'sai kamal' # save in the Memory
d = {}

for i in f:
  if i not in d:
    d[i] =1
  else:
    d[i] = d[i] + 1


print(d)

{'s': 1, 'a': 3, 'i': 1, ' ': 1, 'k': 1, 'm': 1, 'l': 1}

In [ ]:
for i in range(11,17):
  print(i)
  if i == 14:
    break

11
12
13
14

In [ ]:
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
a = 1

while a <= 10:
  print(a)
  a = a + 1

1
2
3
4
5
6
7
8
9
10

In [ ]:
# find the given number is palindrome or not:

f = 121
t = f
s = 0


while f > 0:
  res = f % 10
  s = (s * 10) + res
  f = f // 10


if t == s:
  print(f'Palindrome')
else:
  print(f'not a palindrome')

Palindrome

In [ ]:
# find the given number is Amstrong or not:

f = 153
t = f
s = 0 # 153

while f > 0:
  res = f % 10 # 1
  s = s + (res * res * res)
  f = f // 10 # 0

if t == s:
  print(f'Amstrong')
else:
  print(f'not a Amstrong')

Amstrong

In [ ]:
# Find the given number is strong number or not:

import math

f = 145
t = f
s = 0 # 145

while f > 0:
  res = f % 10 # 1
  s = s + math.factorial(res)
  f = f // 10 # 0

if t == s:
  print(f'Strong')
else:
  print(f'not a Strong')

Strong

In [ ]:
# fibonacci series

n = 8

a = 0
b = 1

print(a)
print(b)

for i in range(n-2):
  c = a + b
  print(c)
  a = b
  b = c

0
1
1
2
3
5
8
13

In [ ]:
# enumerate

a = [10,5,8,14,33]

for i,j in enumerate(a):
  print(i , j)

0 10
1 5
2 8
3 14
4 33

In [ ]:
a = [1,2,3,4,5]
# expected output = (1,2)(1,3)(1,4)(1,5)(2,3)(2,4)(2,5)(3,4)(3,5)(4,5)

t = len(a)
p = []

for i in a: # i = 2
  for j in range(a.index(i)+1,len(a)):
    p.append((i,a[j]))

print(p)
g = []
for k in p:
  g.append(k[0] - k[1])

r = max(g)
print(g)

e = 0 #
q1 = 0 # 3

for i in g:
  if i == r:
    print(p[g.index(i,q1)])
  q1 = q1 + 1

[(1, 2), (1, 3), (1, 4), (1, 5), (2, 3), (2, 4), (2, 5), (3, 4), (3, 5), (4, 5)]
[-1, -2, -3, -4, -1, -2, -3, -1, -2, -1]
(1, 2)
(2, 3)
(3, 4)
(4, 5)