**Python Data types**

`we have 3 data types in python `

       - `Integer -> int -> ex: (whole numbers -> 12 | 156 | 2860 ) etc... `
       - `float -> float -> ex: (decimals -> 12.5 | 156.0 | 2860.66) etc...`
       - `string -> str -> ex : (anything in between the ' <> ' -> 'kumar' | 'kumar12' | '125')`

In [ ]:
12 # int

12

In [ ]:
56.77 # float

56.77

In [ ]:
'kumar'

'kumar'

In [ ]:
'125'

'125'

In [ ]:
'data science'

'data science'

**varibales**

`If we pass data types to python | Python will check and will give the response but if I want to use it later it is not possible because we are not storing the data types in memory (temporary Memory <RAM> | or | permanent Memory <Hard disk>)`

- `to save the data types in the Memory <temp memory> we are going to use a concept called as varibales `

- `we can store the data type into permanent memory using varibale if we needed But defaulty the varibales will save in the data type in the Temp Memory `

In [ ]:
a = 12 # save in the Memory

a # calling from Memory

12

In [ ]:
a + 10

22

In [ ]:
a + 10

22

In [ ]:
print(12)

12

In [ ]:
print(56.77)

56.77

In [ ]:
print('data science')

data science

`when you want to call a varibale from the memory please use print condition `

In [ ]:
print(a)

12

In [ ]:
a = 12 # save in the Memory
b = 56.66 # save in the Memory
c = 'data science' # save in the Memory

print(a) # calling from Memory

12

In [ ]:
print(b) # calling from Memory

56.66

In [ ]:
print(c) # calling from Memory

data science

In [ ]:
a = 50 # save in the Memory
print(a) # calling from Memory
print(id(a)) # id checks address of varibale a and print condition is printing output

50
11655944

In [ ]:
f = 47 # save in the Memory

print(f) # calling from memory

print(id(f)) # finding address of varibale f

47
11655848

In [ ]:
f = 147 # save in the Memory

print(f) # calling from memory

print(id(f)) # finding address of varibale f

147
11659048

In [ ]:
# Memory occupency

a = 12 # save in the Memory

b = 15.66 # save in the Memory

c = 'india' # save in the Memory