#Print Conditions

# Print Statement

The **print** statement can be used in the following different ways :

    - print "Hello World"
    - print "Hello", <Variable Containing the String>
    - print "Hello" + <Variable Containing the String>
    - print "Hello %s" % <variable containing the string>

In Python, single, double and triple quotes are used to denote a string.
Most use single quotes when declaring a single character.
Double quotes when declaring a line and triple quotes when declaring a paragraph/multiple lines.

In [ ]:
print("python")

python

In [ ]:
print('Hey')

Hey

In [ ]:
print("""My name is Rajath Kumar M.P.
I love Python.""")

My name is Rajath Kumar M.P.
I love Python.

In [ ]:
a = 1
print("The value of a is :",a)  # , symbol

The value of a is : 1

In [ ]:
name= "kamal"
print("my name is",name)

my name is kamal

Strings can be assigned to variable say _string1_ and _string2_ which can called when using the print statement.

In [ ]:
string1 = 'World'
print ('Hello',string1)

string2 = '!'
print ('Hello', string1, string2)

Hello World
Hello World !

In [ ]:
x=23
print("age is:",x)

age is: 23

String concatenation is the "addition" of two strings. Observe that while concatenating there will be no space between the strings.

In [ ]:
print( 'Hello', string1,string2)

Hello World !

In [ ]:
s1='sunday'
t1='10:45 am'

In [ ]:
# today is sunday and time is 10:45

In [ ]:
print("today is" , s1 , "time is " , t1)

today is sunday time is  10:45 am

In [ ]:
a = 'Data science'
b = 'Machine learning'
print("Python can do both"+""+a+" and "+b)
print("Python and "+a)

Python can do bothData science and Machine learning
Python and Data science

In [ ]:
print("today is"+" "+s1+" and time is "+t1)

today is sunday and time is 10:45 am

In [ ]:
#string formatting: process of formatting strings for better output

**%s** is used to refer to a variable which contains a string.
**%d** is used to refer to a variable which contains an integer.

In [ ]:
# passing n number of lines

# predefined functions

# integer = %d
# float = %f
 # string = %s

In [ ]:
a='Machine Learning'
b= '2'
year='2021'

In [ ]:
print("welocome to " , b , 'class of ' , a , 'in the year ' , year)

welocome to  2 class of  Machine Learning in the year  2021

In [ ]:
print("welocome to "+" "+ b+" class of "+a+ " " + " in the year "+ year)

welocome to  2 class of Machine Learning  in the year 2021

In [ ]:
a='Machine Learning'
b= '2'
year='2021'

In [ ]:
print(type(a) , type(b) , type(year))

<class 'str'> <class 'str'> <class 'str'>

In [ ]:
a

'Machine Learning'

In [ ]:
print("welcome to the  class %s of Data science" %a)

welcome to the  class Machine Learning of Data science

In [ ]:
a = 1
# print("the value is = 1 ")
print("the value is = %d" %a)

the value is = 1

In [ ]:
print("Welcome to %s" %a)

Welcome to 1

In [ ]:
a = 'python'
b = "Data science"
c = "Aritficial intelligence"
d = "Machine learning"

# print("Python is a programming language used to work on data science and Machine learning is an heart for Data science ")

print("%s is a programming language used to work on %s and %s is an heart for %s" %(a,b,d,b))

python is a programming language used to work on Data science and Machine learning is an heart for Data science

In [ ]:
a = 1
b = 12.2
c = 'python'
print("the value of a is %d and value of b is %f and text of c is %s " %(a,b,c))

the value of a is 1 and value of b is 12.200000 and text of c is python

In [ ]:
a = 1
b = 12.2
c = 'python'
print("the value of a is %d and value of b is %f and text of c is %s " %(c,b,a))

TypeError: %d format: a number is required, not str

In [ ]:
print("welcome to the %d class of %s in %d" %(a,str2,year))

welcome to the 2 class of Machine Learning in 2020

In [ ]:
print("welcome to the %d class of %s in %d" %(a,str2,year))

welcome to the 2 class of Machine Learning in 2020

In [ ]:
int1=2

In [ ]:
print("welcome to the",int1,"class of ",str2,"in ",year)

welcome to the 2 class of  Machine Learning in  2020

In [ ]:
a = '1'
b = "12.2"
c = 'python'

print("the value of a is " , a , "the value of b is " , b , "The text of c is " , c)
print("the value of a is "+" "+ a+" the value of b is "+" "+b+" the text of c is "+c)
print("the value of a is %s and value of b is %s and text of c is %s " %(a,b,c))

the value of a is  1 the value of b is  12.2 The text of c is  python
the value of a is  1 the value of b is  12.2 the text of c is python
the value of a is 1 and value of b is 12.2 and text of c is python

In [ ]:
print ("Hello %s" %string1)

Hello World

Similarly, when using other data types

    - %s -> string
    - %d -> Integer
    - %f -> Float
    
    
This can be used for conversions inside the print statement itself.

When referring to multiple variables parenthesis is used.

In [ ]:
print "Hello %s %s" %(string1,string2)

Hello World !

##Other Examples

The following are other different ways the print statement can be put to use.

In [ ]:
print(2 * 10)

20

In [ ]:
print ('2'*20)

22222222222222222222

In [ ]:
# \n used for next line

In [ ]:
print("python \nData \nscience")

python
Data
science

In [ ]:
print("\\n")

\n

In [ ]:
# print("\\n")
print("\\n")

\n

In [ ]:
print('\\n')

\n

In [ ]:
print ("Jan\nFeb\nMar\nApr\nMay\nJun\nJul\nAug")  # /n-->new line character

Jan
Feb
Mar
Apr
May
Jun
Jul
Aug

In [ ]:
print( "I want \\n to be printed.")

I want \n to be printed.

In [ ]:
# \t used for one tab space

print("python\tdata\tscience")

python	data	science

In [ ]:
print("""
Routine:
\t- Eat
\t- Sleep\n\t- Repeat
""")

Routine:
	- Eat
	- Sleep
	- Repeat

#PrecisionWidth and FieldWidth

Fieldwidth is the width of the entire number and precision is the width towards the right. One can alter these widths based on the requirements.

The default Precision Width is set to 6.

In [ ]:
10/5

2.0

In [ ]:
pie=22/7

In [ ]:
pie

3.142857142857143

In [ ]:
print("value of pie is",pie)

value of pie is 3.142857142857143

In [ ]:
 print("value of pie is %.10f" %pie)

value of pie is 3.1428571429

In [ ]:
"%f" %3.121312312312 # default 6 values will be selected

'3.121312'

Notice upto 6 decimal points are returned. To specify the number of decimal points, '%(fieldwidth).(precisionwidth)f' is used.

In [ ]:
"%.3f" %pie

NameError: name 'pie' is not defined

In [ ]:
a = 12.2