#Data types of python

*3 Data types\*

*  integer:-example of integer values 1, 2, 3, etc
*  float:-example of decimal values 56.55 etc
*   string:- anything right from in between of codes ''.
* variables :- variable is ntg but storing the value of in temporary memory
ex: a=12.
* print():print is ntg but print the a value of variable .
* = equal symbol is a Operator it is used to right side value will reaching the left side content.
*address: id is ntg but find the variable value in the memory of the location.
ex: Print( id() ).

In [ ]:
a = 12 #save in the memory
b=30 #save in the memory
c=25 #save in the memory
a #calling from memory

12

In [ ]:
print(b)

30

In [ ]:
a + 20

32

In [ ]:
print(id(a))

11654728

In [ ]:
f = 24.67 #save in the meomory
k = 0.56 #save in the meomory
print(f)
print(id(f)) #calling from memory

24.67
138077803269648

In [ ]:
f

24.67

In [ ]:
print(a)

12

##'Rules to create the variables'


Rule no:1 -> Varibales should not start with a Number if you want to start please use underscore_

Rule no:2 -> Varibale should be either single character or single word multiple charaters with space multiple words with space is not allowed if you want please use underscore

Rule no:3 -> Python Varibales are case sensitive (capital means capital small means small )

Rule no:4 -> Dont use below Punctuations as varibale -> !"#$%&'()*+,-./:;<=>?@[\]^_{|}~`

In [ ]:
# underscore_

_234 = 24.5
print(_234)

24.5



```
Step 2: Variable should not either single character or single word (or) multiple characters  with space or multiple words with space if you want to use plz maintain underscore_
```

In [ ]:
# under score with sinle word

_kusumba  = 345
print(_kusumba)

345

In [ ]:
# under score with multiple words

kusumba_mounika = 12345
print(kusumba_mounika)

12345

In [ ]:
#under score with multiple characters

_2abc_ab345 = 78654
print(_2abc_ab345)

78654

Step 3: Python variables are case sensitive capital means capital, small means small.

In [ ]:
# capital means capital

HYDERABAD = 56786
CITY = 'hyderabad'
COLONY = 'PRAGATHINAGAR'
print(HYDERABAD)
print(CITY)
print(COLONY)

56786
hyderabad
PRAGATHINAGAR

Step 4: Do'nt use below punctuations !@%#$&&*^$%#$%&

In [ ]:
_@234 = 87643

print(_234)

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (ipython-input-594615795.py, line 1)

#

```
#Type conversions
```

```
.type conversions nothing but data type conversions
```


```
.6 possibilities is there (one data type convert to another data type)
```

```
int  ----->float and int------>str
float------>int and float----->str
str-------->float and str------->int
```

In [ ]:
# int------->float

a =234 #saving the memory
b =34.57 #saving the memory
c = 789 # saving the memory

print(b) #calling the memory
print(type(b))
print(c)

34.57
<class 'float'>
789

In [ ]:
# int --------> str

Course = 'Data science'
time = '1.6hours'
Duration = '6 months'

print(Course) # calling the memory
print(type(Duration))

Data science
<class 'str'>

In [ ]:
# int ------>float

a = 234 # save  the memory
print(a) # calling the memory
print(type(a)) # calling and checking the data

b = float(a) # actual conversions happends here
print(b) # calling from meomory
print(type(b)) # calling and checking the data type

234
<class 'int'>
234.0
<class 'float'>

In [ ]:
# int ------>str

a = 234 # save  the memory
print(a) # calling the memory
print(type(a)) # calling and checking the data

b = str(a) # actual conversions happends here
print(b) # calling from meomory
print(type(b)) # calling and checking the data type

234
<class 'int'>
234
<class 'str'>

In [ ]:
# float------>int

a = 25.898 # save  the memory
print(a) # calling the memory
print(type(a)) # calling and checking the data

b = int(a) # actual conversions happends here
print(b) # calling from meomory
print(type(b)) # calling and checking the data type

25.898
<class 'float'>
25
<class 'int'>

In [ ]:
# float------>str

a = 25.898 # save  the memory
print(a) # calling from memory
print(type(a)) # calling and checking the data

b = str(a) # actual conversions happends here
print(b) # calling from meomory
print(type(b)) # calling and checking the data type

25.898
<class 'float'>
25.898
<class 'str'>

In [ ]:
# str------>int

a = '25898' # save  the memory
print(a) # calling from memory
print(type(a)) # calling and checking the data

b = int(a) # actual conversions happends here
print(b) # calling from meomory
print(type(b)) # calling and checking the data type

25898
<class 'str'>
25898
<class 'int'>

In [ ]:
# str------>float

a = '25898' # save  the memory
print(a) # calling from memory
print(type(a)) # calling and checking the data

b = float(a) # actual conversions happends here
print(b) # calling from meomory
print(type(b)) # calling and checking the data type

25898
<class 'str'>
25898.0
<class 'float'>

#Print Conditions



```
.to create the relation between str and float & str and int > inside the print condition
```
4' different ways we have to use print conditions

Step 1 : using with comma (,) will give us one tab spce
-> only 10% of developers will use

In [ ]:
# using with comma (,)

f = 28
print('my name is mouni my age is',28)

my name is mouni my age is 28

In [ ]:
course = 'data science'
time = 6
duration = 1.30

print('i am learning',course,'study in VT for',time,'months with',duration,'hours daily')

i am learning data science study in VT for 6 months with 1.3 hours daily

. using with + not give us tab space it's only create relation with str only

In [ ]:
#using with +

course = 'data science'
time = 6
duration = 1.30

print('i am learning '+str(course)+' study in VT for ' +str(time)+' months with ' +str(duration)+ 'hours daily')

i am learning data science study in VT for 6 months with 1.3hours daily

In [ ]:
f = 28
print('my name is mouni my age is ' +str(f))

my name is mouni my age is 28

.Using with identifiers %d----> int,
%f------> float, and %s--------> str

In [ ]:
# using with %d

f = 28
print('my name is mouni my age is %d'%(f))

my name is mouni my age is 28

In [ ]:
#using with %f

course = 'data science'
time = 6
duration = 1.30

print('i am learning %s study in VT for %d months with %f hours daily' %(course,time,duration))

i am learning data science study in VT for 6 months with 1.300000 hours daily

.Using with f and {}
** Real time 100% using this condition**

In [ ]:
# using with f and {}


course = 'data science'
time = 6
duration = 1.30

print(f'I am learning {course} in VT for {time} months {duration} hours duration daily')

I am learning data science in VT for 6 months 1.3 hours duration daily

In [ ]:
course = 'data science'
time = 6
duration = 1.30

print(f' i am learning {course} in VT for {time}  months {duration} hours daily')

 i am learning data science in VT for 6  months 1.3 hours daily

.Convert int,float & complex

In [ ]:
x = 5    # int
y = 7.8  # float
z = 6j   # complex

# convert int float

x = float(x) # save in the memory
print(x)

#convert float to int
y = int(y)
print(y)

#convert complex to float
z = str(z)
print(z)

print(type(x)) #calling from memory and checking data
print(type(y))
print(type(z))

5.0
7
6j
<class 'float'>
<class 'int'>
<class 'str'>

In [ ]:
#explicit type conversion
# convert str to int
num_int = 123
num_str = "456"

print(num_int)
print(num_str)

num_str = int(num_int) # actual happends here
num_sum = num_int + num_str # we are adding sum

print(type(num_str))
print(type(num_int))

123
456
<class 'int'>
<class 'int'>

In [ ]:
x = 54e5
y = 21E5



print(type(x))
print(type(y))

<class 'float'>
<class 'float'>

#Operators

# +,-,*,/,//,%,>,<,>=,<=,!=,=,==,and,or,pow,**

* Arithmatic Operators

*Assignment operators

*Comparison operators

*Logical operators

*Identity Operators

*membership operators

*Bitwise operators

In [ ]:
#using + operator
3748957 + 749879

4498836

In [ ]:
#using - operator

20 - 10

10

In [ ]:
#using / division operator

40/6

6.666666666666667

In [ ]:
#using // floor division

567//5 # expect before the dot numbers only

113

In [ ]:
#using % modulus

456%8 #expect reminder value only

0

In [ ]:
#using * Multiplication


456 * 678

309168

In [ ]:
#using ** Exponentiation (power)


46 ** 6 #power

9474296896

In [ ]:
#using **

x = 40
y = 3

x  ** y

64000

In [ ]:
# using = operator


x = 10
y = 15

x = y

In [ ]:
# using == operator

x = 20
y = 30

x == y

False

In [ ]:
#using += operator

x = 30
x += 35
print(x)

65

In [ ]:
# using != operator

x = 26
y = 80

print(x != y)

True

In [ ]:
# using >= operator

x = 26
y = 80

print(x <= y)

True

In [ ]:
# using or operator

x = 20
y = 30

a = 10
b = 20

print(x>=y or a<=b)

True

In [ ]:
# using and operator

x = 27
y = 30

a = 4
b = 6

print(x!=y and a==b)

False

In [ ]:
#using = assign

x = 5

print( x + 3)

8

In [ ]:
#using the swap the values

x = 400
y = 300
x, y = y, x
print(f' x : {x} , y : {y}')

 x : 300 , y : 400

In [ ]:
# using the &=  operator

x = 12
y = 10

print(x & y)

8

In [ ]:
2**0

1

In [ ]:
345**0

1

In [ ]:
10 > 5 < 2

False

In [ ]:
3 * "Hello"

'HelloHelloHello'

In [ ]:
-5 // 2

-3

In [ ]:
-7 // 2

-4

In [ ]:
8 % 3 + 2 ** 2 * (2 + 2)

18

In [ ]:
(3 + 2) * 4 / 2 ** 2

5.0

In [ ]:
x = 5
y = x * 2 if x < 10 else x / 2
print(y)

10

In [ ]:
x = 5
y = x if x < 10 else x / 2
print(y)

5

In [ ]:
x = 5
y = x if x != 5 else x + 2
print(y)

7

#Functions
functions = functions means which is used to execute a given task or designed task
*Built_in_functions = functions means which is used to execute a given task or designed task developed by python community

*Library = it is like a box where we have built_in_functions
            # ex: math library(box) -> only math built_in_functions are available
            # ex: sklearn library (box) -> only machine learning built in functions are available

In [ ]:
import math #opening the box

In [ ]:
dir(math)

['__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'cbrt',
 'ceil',
 'comb',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'dist',
 'e',
 'erf',
 'erfc',
 'exp',
 'exp2',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'isqrt',
 'lcm',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'nextafter',
 'perm',
 'pi',
 'pow',
 'prod',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'sumprod',
 'tan',
 'tanh',
 'tau',
 'trunc',
 'ulp']

In [ ]:
len(dir(math))

66

In [ ]:
 math.factorial(6)

720

In [ ]:
math.factorial(9)

362880

In [ ]:
math.sqrt(4)

2.0

In [ ]:
math.degrees(2.5)

143.2394487827058

In [ ]:
# using swap values

a = 30
b = 20

a,b = b,a

print(f' a_value : {a} ,  b : {b}')

 a_value : 20 ,  b : 30

In [ ]:
# using swap values

x = 40
y = 30

x = x + y #70
y = x - y # 40
x = x - y # 30
print(x)
print(y)

30
40

In [ ]:
# using swap values * // operators

a = 20
b = 10

a = a*b # 200
b = a//b #
a = a//b

print(a)
print(b)

10
20

In [ ]:
a = 458
b = a%10 # 8
c = a//10 #45
d = c%10 # 5
e = c//10 # 4

f = str(b)+ str(d) + str(e)
print(f)
type(f)

854

str

In [ ]:
a = 854

print(type(a))

<class 'int'>

In [ ]:
a = 567

b = a%10 #7
c = a//10 #56
d = c%10 # 6
e = c//10
f = (str(b)+str(d)+str(e))



k = int(f)

print(type(k))

<class 'int'>

In [ ]:
a = 30
b = 10

a = a+b #30
b = a-b
a = a-b

print(a)
print(b)

10
30

In [ ]:
#Assignment
a = 20
b = 10

print(f'sum of two no.s : {a+b}')
print(f'difference of two no.s : {a-b}')
print(f'product of two no.s : {a*b}')

sum of two no.s : 30
difference of two no.s : 10
product of two no.s : 200

In [ ]:
a = 2
b = 5

print(a+b)
print(a-b)
print(a*b)

7
-3
10

In [ ]:
a = 21
if a % 2 == 0:
  print(a, 'is even')
else:
  print(a, 'is odd')

21 is odd

In [ ]:
# user input

a =int(input())

if a % 2 == 0:

  print(a, 'is even')

else:
  print(a, ' is odd')

26
26 is even

In [ ]:
a = int(input())

b = a**2
c = a**3

print(f'square of no:{b}')
print (f'cube of no: {c}')

36
square of no:1296
cube of no: 46656

In [ ]:
a = int(input())
b = int(input())

if a == b:
  print( 'number is equal to')

else:
  print('number is not equal to')

if a>b:

 print('a is greater than b')

else:

  print('b is greater than a')

2
3
number is not equal to
b is greater than a

In [ ]:
a = int(input())
b = int(input())
if (a==b):
  print('They are equal')
else:
  if( a>b ):
    print(f'{a} is greater')
  else:
    print(f'{b} is greater')

10
10
They are equal

In [ ]:
k = str(input())

print('a' in k)

venu
False

In [ ]:
a = int(input())

if (a%3==0 and a%5==0):

 print(f'given {a} is divisible')
else:
  print(f'given{a} is not divisible')

20
given 20 is divisible

In [ ]:
a = int(input())

if(a>=10 and a<=50):

 print('the no.s lies between')

else:
  print('the no.s not')

55
the no.s not

In [ ]:
#program to check if a number is positive, negative, or zero using

a = int(input())


if (a > 0):

 print('the no. is positive ')

elif (a < 0):

  print('the no. is negative')

0

In [ ]:
#Input a number and check if it is a multiple of either 4 or 6

x = int(input())

if (x%4==0 and x%6==0):

 print(f'the given no. is divisible {x}')

else:
  print(f'the given no. is not divisible {x}')

24
the given no. is divisible 24

In [ ]:
#True if it is between 100 and 200 (exclusive)
#False otherwise


a = int(input())

if (a>100 and a<200):

 print('the given no. is lies between 100 and 200 ')

else :

 print('the given no. is not between 100 and 200 ')

130
the given no. is lies between 100 and 200

In [ ]:
#Write a program that accepts three numbers and prints the largest using comparison and logical operators.

a = 100
b = 80
c = 78


if (a>b and a>c):

 print(f'the largets no. {a}')

elif (b>a and b>c):

 print(f'the largest no.{b}')

else:

 print(f'the largest no.{c}')

the largets no. 100