#Python Sets Concepts

In [ ]:
a = {10, 11 , 12} # { }
type(a)

set

In [ ]:
myset = {1, 2, 3}
print(myset)

{1, 2, 3}

In [ ]:
a = {10 , 9 , 7 , 5}
print(a)

{9, 10, 5, 7}

In [ ]:
myset = {1, 2, 3, "Python"}
print(myset)

{1, 2, 3, 'Python'}

In [ ]:
myset = set()
print(myset)

set()

In [ ]:
#Each element in a set is unique
myset = {1, 2, 3, 2}
print(myset)

{1, 2, 3}

In [ ]:
a = {3,2,1}
print(a)

{1, 2, 3}

# A Python set is the collection of the unordered items.
# Each element in the set must be unique, immutable, and the sets remove the duplicate elements.
# Sets are mutable which means we can modify it after its creation.
# {} are used to represent the set Data type

In [ ]:
#A set is unordered
myset = {1, 2, 3, "1", "Python"}
print(myset)

{1, 2, 3, 'Python', '1'}

In [ ]:
a = (1,2)
type(a) # immutable

tuple

In [ ]:
#Elements of a set are immutable
myset = {1, 2, 3.2, "1", "Hello", (10, 20)}
print(myset)

{1, 2, 3.2, 'Hello', '1', (10, 20)}

In [ ]:
## set is mutable (changable)
# but the values inside the set should be immutable

In [ ]:
myset = {1, 2, 3.2, "1", "Hello", [10, 20]} # list is mutable
print(myset)

TypeError: unhashable type: 'list'

In [ ]:
#Sets are mutable
#Adding Elements to Python Set
myset = {1, 2, 3}
myset.add(5)
print(myset)

{1, 2, 3, 5}

In [ ]:
## add is used to add only one value
## update is used to add multiplt values

In [ ]:
myset = {1, 2, 3}
myset.update([5, 10])
print(myset)

{1, 2, 3, 5, 10}

In [ ]:
myset = {1, 2, 3}
myset.update([5, 10], [15, 20], {25, 30})
print(myset)

{1, 2, 3, 5, 10, 15, 20, 25, 30}

In [ ]:
#Python discard()
colors = {"Blue", "Green", "Red", "Orange", "Yellow", "Brown"}
colors.discard("Green")  # removing "Green" from set
print(colors)

{'Red', 'Orange', 'Blue', 'Yellow', 'Brown'}

In [ ]:
colors = {"Blue", "Green", "Red", "Orange", "Yellow", "Brown"}
colors.discard("Violet")
print(colors)

{'Brown', 'Blue', 'Yellow', 'Orange', 'Green', 'Red'}

In [ ]:
a = {1,2,3,4}
a.discard(4)
a

{1, 2, 3}

In [ ]:
a = {1,2,3,4}
a.discard(10)
a

{1, 2, 3, 4}

In [ ]:
a = {1,2,3,4}
a.remove(4)
a

{1, 2, 3}

In [ ]:
a = {1,2,3,4}
a.remove(10)
a

KeyError: 10

In [ ]:
# Python provides the discard() method and remove() method which can be used to remove the items from the set.
# The difference between these function, using discard() function
 # if the item does not exist in the set then the set remain unchanged whereas remove() method will through an error.

In [ ]:
#python remove()
colors = {"Blue", "Green", "Red", "Orange", "Yellow", "Brown"}
colors.remove("Green")  # removing "Green" from set
print(colors)

{'Red', 'Orange', 'Blue', 'Yellow', 'Brown'}

In [ ]:
colors = {"Blue", "Green", "Red", "Orange", "Yellow", "Brown"}
colors.remove("Violet")

KeyError: 'Violet'

In [ ]:
# We can also use the pop() method to remove the item. Generally, the pop() method will always remove the last item but the set is unordered,
# we can't determine which element will be popped from set

In [ ]:
a = [10 , 11 , 12 , 14]
a.pop()
a

[10, 11, 12]

In [ ]:
a = [10 , 11 , 12 , 14]
a.pop(2)
a

[10, 11, 14]

In [ ]:
#Python pop()
colors = {"Blue", "Green", "Red", "Orange", "Yellow", "Brown"}
colors.pop()
print(colors)

{'Blue', 'Green', 'Brown', 'Orange', 'Yellow'}

In [ ]:
#Python Set Operations
s1 = {1, 2, 3, 4, 5, 6}
s2 = {4, 5, 6, 7, 8}
#s1 = {1, 2, 3, 4, 5, 6}
#s2 = {4, 5, 6, 7, 8}
print(s1 | s2) #union

{1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
s1 = {1, 2, 3, 4, 5, 6}
s2 = {4, 5, 6, 7, 8}

print(s1.union(s2))
print(s2.union(s1))

{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
s1 = {1, 2, 3, 4, 5, 6}
s2 = {4, 5, 6, 7, 8}

print(s1 & s2)

{4, 5, 6}

In [ ]:
a = {1 , 3, 4}
b = {4 , 5}
print(a.intersection(b))

{4}

In [ ]:
s1 = {1, 2, 3, 4, 5, 6}
s2 = {4, 5, 6, 7, 8}

print(s1.intersection(s2))
print(s2.intersection(s1))

{4, 5, 6}
{4, 5, 6}

In [ ]:
#python set difference #sets present in s1 but not in s2
s1 = {1, 2, 3, 4, 5, 6}
s2 = {4, 5, 6, 7, 8}

print(s1 - s2)
print(s2 - s1)

{1, 2, 3}
{8, 7}

In [ ]:
# using subraction
Days1 = {"Monday",  "Tuesday", "Wednesday", "Thursday"}
Days2 = {"Monday", "Tuesday", "Sunday"}
print(Days2-Days1)

{'Sunday'}

In [ ]:
s1 = {1, 2, 3, 4, 5, 6}
s2 = {4, 5, 6, 7, 8}
# values in first condition
print(s1.difference(s2))
print(s2.difference(s1))

{1, 2, 3}
{8, 7}

In [ ]:
#Python Set Symmetric Difference  #union -intersection
s1 = {1, 2, 3, 4, 5, 6}
s2 = {4, 5, 6, 7, 8}
#not the common elements in both sets
print(s1 ^ s2)

{1, 2, 3, 7, 8}

In [ ]:
s1 = {1, 2, 3, 4, 5, 6}
s2 = {4, 5, 6, 7, 8}

print(s1.symmetric_difference(s2))
print(s2.symmetric_difference(s1))

{1, 2, 3, 7, 8}
{1, 2, 3, 7, 8}

In [ ]:
#Python Set Membership Test
myset = {1, 2, "Blue", "Green"}
print(2 in myset)
print(4 in myset)
print("Green" not in myset)

True
False
False

In [ ]:
colors = {"Blue", "Green", "Red"}
for i in colors:
    print(i)

Red
Green
Blue

In [ ]:
a = set([4,3,2,1])
a

{1, 2, 3, 4}

In [ ]:
a = {'d','c','b','a'}
a

{'a', 'b', 'c', 'd'}

In [ ]:
set1 = {1, 2, 3, 4}
set2 = set1
print(set2)

{1, 2, 3, 4}

In [ ]:
set1 = {1, 2, 3, 4}
set2 = set1
set2.add(10)
print("Original set:", set1)
print("New set:", set2)

Original set: {1, 2, 3, 4, 10}
New set: {1, 2, 3, 4, 10}

In [ ]:
set1 = {1, 2, 3, 4}
set2 = set1.copy()
set2.add(10)
print("Original set:", set1)
print("New set:", set2)

Original set: {1, 2, 3, 4}
New set: {1, 2, 3, 4, 10}

In [ ]:
set1 = {1, 2, 3, 4}
set2 = set(set1)
set2.add(10)
print("Original set:", set1)
print("New set:", set2)

Original set: {1, 2, 3, 4}
New set: {1, 2, 3, 4, 10}

In [ ]:
#Built-in Functions in Python for Set
myset = {1, 2, 3, 4, 5, 6}
print(len(myset))

6

In [ ]:
myset = {3, 2, 1, 5, 6, 4}
print(max(myset))

6

In [ ]:
myset = {3, 2, 1, 5, 4}
print(min(myset))

1

In [ ]:
myset = {3, 2, 1, 5, 6, 4}
print(sum(myset))

21

In [ ]:
myset = {3, 2, 1, 5, 6, 4}
print(sorted(myset))

[1, 2, 3, 4, 5, 6]

In [ ]:
myset = {3, 2, 1, 5, 6, 4}
print(sorted(myset, reverse=True))

[6, 5, 4, 3, 2, 1]

In [ ]:
#Python isdisjoint() #if they have no common element
set1 = {1, 2, 3, 4, 5}
set2 = {6, 7, 8}

print(set1.isdisjoint(set2))
print(set2.isdisjoint(set1))

True
True

In [ ]:
#Python difference_update()
set1 = {1, 2, 3, 4, 5, 6}
set2 = {4, 5, 6, 7, 8}
set2.difference_update(set1)
#Remove all elements of another set from this set.
print('set1:', set1)
print('set2:', set2)

set1: {1, 2, 3, 4, 5, 6}
set2: {7, 8}

In [ ]:
# intersection_update

a= {"Devansh", "bob", "castle"}
b = {"bob", "dude", "emyway"}
c = {"fuson", "bob", "castle"}    # from b and c output os bob

a.intersection_update(b, c)
#Update a set with the intersection of itself and another.
print(a)

{'bob'}

In [ ]:
#Python issubset()
set1 = {4, 5, 6}
set2 = {4, 5, 6, 7, 8}

print(set1.issubset(set2))  # is set1 subset of set2?
print(set2.issubset(set1))  # is set2 subset of set1?

True
False

In [ ]:
# Create a new empty set
x = set()
print(x)
#Create a non empty set
n = set([0, 1, 2, 3, 4])
print(n)

set()
{0, 1, 2, 3, 4}

In [ ]:
#Create a set
num_set = set([0, 1, 2, 3, 4, 5])
print(num_set)
for n in num_set:
  print(n)

{0, 1, 2, 3, 4, 5}
0
1
2
3
4
5

In [ ]:
#A new empty set
color_set = set()
color_set.add("Red")
print(color_set)
#Add multiple items
color_set.update(["Blue", "Green"])
print(color_set)

{'Red'}
{'Red', 'Blue', 'Green'}

In [ ]:
num_set = set([0, 1, 3, 4, 5])
num_set.pop()
print(num_set)
num_set.pop()
print(num_set)

{1, 3, 4, 5}
{3, 4, 5}

In [ ]:
#Create a new set
num_set = set([0, 1, 2, 3, 4, 5])
#Discard number 4
num_set.discard(4)
print(num_set)

{0, 1, 2, 3, 5}

In [ ]:
#Intersection
setx = set(["green", "blue"])
sety = set(["blue", "yellow"])
setz = setx & sety
print(setz)

{'blue'}

In [ ]:
#Union
setx = set(["green", "blue"])
sety = set(["blue", "yellow"])
seta = setx | sety
print(seta)

{'blue', 'yellow', 'green'}

In [ ]:
setx = set(["apple", "mango"])
sety = set(["mango", "orange"])
setz = setx & sety
print(setz)

{'mango'}

In [ ]:
# Assignment questions

In [ ]:
# Find the Number is palindrome or not
# Find the Number is Armstrong or not

In [ ]:
n = int(input("Enter user value = "))
temp = n
sum = 0
while n > 0:
    #sum = 0
    res = n % 10 # we are taking reminder
    sum = (sum*10) + res
    n = n // 10
    #print(sum)
if sum == temp:
    print("The Number is Palindrome ")
else:
    print("The Number is not Palindrome")

Enter user value = 121
The Number is Palindrome