#String
#String is having more concepts there are

1.Memory allocation

2.Indexing

3.Slicing

4.Mutable and Immutable

5.Skipping

6.Built_in _function

#Indexing
#Indexing nothing but giving a name
#indexing 2 types

1. is forward index(start's with 0)
2. is backward index(star's with -1)

In [ ]:
#indexing

a = 'iNdIa'

print(a[2])
print(a[4])
print(a[1])

#Backward index

print(a[-2])
print(a[-3])
print(a[-5])

# we are calling 2 variables

print(a[2]+a[-5])
print(a[3]+a[-3])

d
a
N
I
d
i
di
Id

In [ ]:
# Indexing
x = 'Data Science'

print(x[6])
print(x[4])
print(x[3]+x[7]+x[9])

print(x[-5])
print(x[-4]+x[-6])
print(x[4]+x[-8])

c

ain
i
ec

#**Slicing:
(Starting point)(sp) and (Ending point)(Ed):

Python follows ( n-1 ) syntax:

In [ ]:
#Slicing

p = 'Kusumba Mounika'

print(p[2:7])
print(p[8:14])

# using backward
print(p[-1:-8])

sumba
Mounik

In [ ]:
p = 'Kusumba Mounika'


# using backward
print(p[-11:-2])
print(p[-15:-1])
print(p[:9])
print(p[:])

mba Mouni
Kusumba Mounik
Kusumba M
Kusumba Mounika

In [ ]:
# Skipping

a = 'Data science'


print(a[: : 2])
print(a[: : 3])
print(a[: : 1])

Dt cec
Dacn
Data science

In [ ]:
# Skipping Reverse

a = 'data science'

print(a[: : -2])
print(a[: : -3])

enisaa
eest

#*Mutable and Immutable

.Once a data type (except int&float) saves in memory if developer increses&decreases the memory size then is a mutable

and it we can't increase&decreases the memory size then it is immutable.

In [ ]:

# String in pyton in a mutable or immutable
#prove it
# try to incresing the meomory size
# try to decreasing the memory size

a = 'india'

a[6]= 'j'


print(a)

TypeError: 'str' object does not support item assignment

In [ ]:
# decresing meomory immutable

a = 'data' # save in the Memory

del a[2]

print(a) # calling from Memory

#** String built in functions
dir(str) : - All built in functions names available

len(dir(str)): - 81 string functions available

 out of 81 we are going to learn the functions which will use for AI
String Built_in_functions:-

1.capitalize

2.title

3.lower

4.upper

5.is lower

6.is upper

7.is alpha

8.is numeric

9.is alnum

10.startswith

11.endswith

12.replace

13.membership function

14.ascii concepts

15.ord

16.chr

17.split

18.join

#*Capitalize

capitalize converts entire paragraph to small and startig character in to capital

In [ ]:

# capitalize

p = 'InDIa CHina'

p = p.capitalize()

print(p)

India china

#* title

title will convert each word first letter in to capital remaining all small

In [ ]:
#title

a = 'cHanDrashekar sILvani'

p = a.title()

print(p)

In [ ]:
a = 'data science uk'

end =a[a.index('e',9): ]
print(end)
start = a [ : a.index('e',9) ]
print(start)
end = end.replace('e','p')
print(start+end)

e uk
data scienc
data sciencp uk

In [ ]:
print('python'.upper())

In [ ]:
print(bool(''))

In [ ]:
print(5 + True)

In [ ]:
print('Python'.find('t'))

In [ ]:
# lower
# lower function is  used to convert in to small letters

a = 'clASS Room'

a =a.lower()
print(a)

In [ ]:
# upper
# upper function is used to convert capital letters

a = 'Viharatech'

a= a.upper()
print(a)

In [ ]:
#islower
#islower will use return the boolean outcome

a = 'learn INtern Get PLAced'#all small

a = a.islower()

print(a)

In [ ]:
a = 'learn intern get placed' #  will checking all smalls

a = a.islower()

print(a)

In [ ]:
# isupper
#is upper function will return the boolean outcome

a = 'MY NAME IS MOUNIKA'# if all capitals checking

a = a.isupper()

print(a)

In [ ]:
# isupper
#is upper function will return the boolean outcome

a = 'MY NAME IS mounika'

a = a.isupper()

print(a)

In [ ]:
# isalpha
# do all are alphabates  but not taking space

a = 'data science123'

a = a.isalpha()
print(a)

In [ ]:
# isalpha
# do all are alphabates  but not taking space

a = 'data science'

a = a.isalpha()
print(a)

In [ ]:
# isalpha
# do all are alphabates  but not taking space

a = 'datascience'

print(a.isalpha())

In [ ]:
# isnumeric
# do all are numbers but not taking space

a = '1234567788'

print(a.isnumeric())

In [ ]:
# isalnum
#isalnum will return both alpha and numeric

a = 'mounika12334'

print(a.isalnum())

In [ ]:
# startswith
#startswith = check whether the required characters is in starting position or not

x = 'that is class room'

p = x.startswith('t')

print(p)

In [ ]:

#startswith = check whether the required characters is in starting position or not

x = 'that is class room'

p = x.startswith('h')

print(p)

In [ ]:
# endswith = whether the required character is in ending position or not

x = 'that is class room'

p = x.endswith('m')

print(p)

In [ ]:
# endswith = whether the required character is in ending position or not

x = 'that is class room'

p = x.endswith('o')

print(p)

In [ ]:
# replace
# replacing the characters (string.replace(old, new, count)

p = 'architha mounika'

x = p.replace('a','m',1)
print(x)

In [ ]:
#replace

x ="Hello world, hello Python!"

p = x.replace('hello','python' )

print(p)

In [ ]:
#replace

x ="Hello world, hello Python!"

b = x.index('h', 14)
print(b)

p = x.replace('h','Hello', 15)

print(p)

In [ ]:
#replace

a = 'Chinaa flag'

end = a[a.index('a',7): ]

start= a[ : a.index('a',7)]

end = end.replace('a','c')
print(start+end)

In [ ]:
a = 'data science uk'

end = a[a.index('e',9) : ]

start = a[ : a.index('e',9)]

end = end.replace('e','p')

print(start+end)

In [ ]:
#count

a = 'data science'

print(a.count('e'))# count no.s of e

In [ ]:
# count

x = 'this is me mounika'

a = x.count('i')
print(a)

In [ ]:
# Membership functions=find the substring is present in main string or not:

f = 'i love programming language' # main string

print('love' in f) # substring

In [ ]:
# ASCII = American Standard code for Information Interchange
# a = 97,b = 98 , c = 99 , d = 100,e = 101,f = 102 .....
# A = 65 , B = 66 , C = 67 , D = 68 ,E = 69 , F = 70 .....

In [ ]:
#ASCII

python = 'ab'
java = 'AB'

print(python > java)

In [ ]:
#ASCII

Mounika = 'ka'#107*97 = 10379
chandu = 'cd'#99*100 = 9900

print(Mounika>chandu)

In [ ]:
ord('D') # ord will give the ascii value

In [ ]:
ord('d')

In [ ]:
99*100

In [ ]:
chr(65) # chr will give the ascii character

In [ ]:
#ACII Character
chr(78)

In [ ]:
# index

f = 'data science ukep'

print(f.index('e',12))

In [ ]:
#
mystring = "Pythonprogram"


print(mystring[2::3])# starting 2 character(py) skipping 3 no.s

In [ ]:
#string (split)

a = 'mounika chandu.s ashlesha'

b = a.split()
print(b)

In [ ]:
#join
a = 'mounika chandu.s ashlesha'
b = a.split()
print(b)

c = '->'.join(b)
print(c)

In [ ]:
#join
a = input()
b = a.split()
print(b)

c = '->'.join(b)
print(c)

KeyboardInterrupt: Interrupted by user

#**List(Built_in_functions):
List in Python is going to represent with -> []

Inside the [] -> we can pass any data type

Memory Allocation | slicing | skipping concepts are same like string only

In [ ]:
#Memory allocation

a = [12345, 'sachin']

b = a[1]#sachin
print(b)
c = b.index('h')
print(c)

print(b[3:5])

sachin
3
hi

In [ ]:
# Memory allocation
a = ['india',' data', 'SMS' ]

b = a[2]#SMS
print(b)
print(b[2])

In [ ]:
# Python List is mutable (or) immutable prove it
f = 'data'

f[3] = 'j'

print(f)

In [ ]:
# Try to increase the Memory size

a = [10,20,50,90,4,7,12] # save in the Memory

a[7] = 100

print(a) # calling from Memory

#Python List Built_in_functions.
#Addition(increase&decrease) the memory size

1.append

2.extend

3.insert
#deletion
4.pop

5.remove
#some common operations works
6.index

7.count

8.copy

9.clear

10.sort

11.reverse

In [ ]:
#append
#append is a built in function which is used to take one single input from user
#and add to the end of the existing list

a = [1 , 12.2 , 'kamal']
a.append(45)
print(a)

In [ ]:
a = [1,1.2,'python',True] # boolean = True , False

a.append('mounika')
print(a)
for i in a:
  print(type(i))

In [ ]:
#extend
# this function will take multiple inputs from the user and add to the end of the existing list
mylist = [1, 2, 3, 4]

mylist.extend(['chandu','mouni'])
print(mylist)

In [ ]:
#insert
# we can add the input where we want
mylist = [1, 2, 3, 4]

mylist.insert(2,'mouni')
mylist.insert(3,'chandu')
print(mylist)

In [ ]:
# adding multiple position at the specific position
mylist = [1, 2, 3, 4,5,6,7,8,9]

mylist[2:4] = 567,6,7
print(mylist)

In [ ]:
#deletion
#pop
#pop by defaulty remove the last value
#but if we pass an input it will consider as index and will be removed
#Python Deleting Elements from List
colors = ["Blue", "Green", "Red", "Orange", "Yellow", "Brown"]

colors.pop(3)
print(colors)

In [ ]:
colors = ["Blue", "Green", "Red", "Orange", "Yellow", "Brown"]
del colors[2:4]  # deleting from 3rd element to fourth element
print(colors)

In [ ]:
#remove
#pass a value and remove it
colors = ["Blue", "Green", "Red", "Orange", "Yellow", "Brown"]

colors.remove('Red')
print(colors)

from above operations we can say python list is mutable

In [ ]:
#count: how many times number present in the list
a = [10,11,10,13,10,14,15]
b = a.count(10)
print(b)

In [ ]:
#index: index of the number
a = [10,11,10,13,10,14,15]

print(a.index(13))
print(a.index(10,3))

In [ ]:
#reverse: reverse the data[ : : -1]
a = [10,20,50,]
print(a[ : : -1])

In [ ]:
#reverse: reverse the data[ : : -1]
a = [10,20,50,]
a.reverse()
print(a)

In [ ]:
#sort

a = [10,30,50,40,70,60]

a.sort()#asending order(small to big)
print(a)

In [ ]:
#sort in reverse

a = [10,30,50,40,70,60]

a.sort(reverse= True)
print(a)

In [ ]:
#clear
#this function will remove values but variable will alive

a = [5,15,20,25,30,35]

a.clear()
print(a)#alive variable

In [ ]:
#del
a = [5,15,20,25,30,35]

del a[3]
print(a)

In [ ]:
#copy : copy of the variable(deep copy)
a = [5,15,20,25,30,35]
b = a # save in the memory
print(a)
print(b)

print(id(a))
print(id(a))

a.append(100)
print(a)
print(b)

In [ ]:
#shallo copy: in shallo copy address will change both variables

a = [5,15,20,25,30,35]

b = a.copy()

print(a)
print(b)

print(id(a))
print(id(b))

a.append(50)

print(a)
print(b)

In [ ]:
a = 'i.love.programming.language'

f = a.split('.')
print(f)

g = f[ : : -1]
print('.'.join(g))

In [ ]:
a = 'data science'#output: i replace ji

b = a
c = b.replace('i','ji')
print(c)

In [ ]:
#Python Is Important for machIne learnIng
a = 'Python Is Important for machIne learnIng'

start = a[ :a.index('I',8)]
print(start)
middle = a[a.index('I',9):a.index('I',-12)]

end = a[a.index('I',28): ]
print(end)
b = (start.replace('I','i'))
c = (end.replace('I','i'))

print(b+middle+c)

In [ ]:
a = 'Python Is Important for machIne learnIng'# output:learning.machine.for.Important.Is.python
b = a.split()

c = b[: : -1]

d = '.'.join(c)
print(d)

Python Tuples

String -> ''

List -> []

tuple -> ()

If we write anything inside the () -> it comes under tuple data type

we can pass any data type [int | float | string | boolean] inside the ()

Memory Allocation | Slicing | skipping concepts are same like string and list

In [ ]:
#tuple is mutable or Immutable
#try to increase the Memory size
a = (10,50,100) # save in the Memory
a[3] = '500'
print(a)

In [ ]:
#try to decrease the Memory size.
a = (10,50,100)
del a[2]
print(a)

From the Above operations we can say that Python tuple is Immutable

Tuple Built_in_functions

.Count

.index

In [ ]:
f =(10,20,30,20)
print(f.count(20))

In [ ]:
f =(10,20,30,20)
print(f.index(20,2))

Tuple is the only technique we have -> when user passes multiple inputs into single varibale that varibale will convert into tuple

In [ ]:
# packing (development)

details = 'john',27,1500 # in development stage  packing

In [ ]:
name,age,salary = details # unpacking,

In [ ]:
print(name)
print(age)
print(salary)

#Set of python
.Python set concept is represented with {}

.Python set concept is an unordered pair

.Python set is not having Index concept | If there is no index concept |   slicing and skipping concept is also not possible

.Python set concept will not allow duplicates

.Python set is Mutable But it will not allow mutables inside it

In [ ]:
myset = {1, 2, 3, "Python"}
print(myset)

In [ ]:
#Each element in a set is unique
myset = {1, 2, 3, 2}
print(myset)

In [ ]:
myset = set()
print(myset)

In [ ]:
#A set is unordered
myset = {1, 2, 3, "1", "Python"}
print(myset)

In [ ]:
#index concept not having in set
p = {100,500,4,7,12,90} # save in the Memory

print(p[1]) # calling from Memory

In [ ]:
#Elements of a set are immutable
myset = {1, 2, 3.2, "1", "Hello", (10, 20)}
print(myset)

. set is mutable (changable)
.but the values inside the set should be immutable

In [ ]:
### set is mutable (changable)
# but the values inside the set should be immutable
myset = {1, 2, 3.2, "1", "Hello", [10, 20]} # list is mutable
print(myset)

.add is used to add only one value

. update is used to add multiple values

In [ ]:
myset = {1, 2, 3}
myset.update([5,8])
print(myset)

In [ ]:
a = {10,20,30,50} # save in the Memory

a.clear()

print(a) # calling from Memory

In [ ]:
r = []

r.append(10)
r.append(20)

print(r)

In [ ]:
r = set()

r.add(10)
r.add(20)

print(r)

In [ ]:
# copy

a = {10,50,90,100}
b = a.copy() # shallow copy

print(a)
print(b)

print(id(a))
print(id(b))

a.add(560)

print(a)
print(b)

In [ ]:
# copy

a = {10,50,90,100}
b = a # deep copy

print(a)
print(b)

print(id(a))
print(id(b))

a.add(560)

print(a)
print(b)

In [ ]:
a = {1,2,3,4,5,6}
b = {5,6,7,8,9,10}

print(a.union(b))

#Dictionary:
.Python dictionary is represented with -> {}

.Anything we write inside the {} -> it becomes set but inside {} -> if we write key_value pair then it is a dictionary

.Key means column name and value means data inside the column

.we can create the exel sheet format data using dictionary but we cant see -> if we give the data to pandas library we can see the excelsheet

.we can pass anything in the place of values

.we can pass anything in place of keys except the mutable types.

.there will be no index concept in dict if there is no index there will be no slicing and no skipping

In [ ]:
a = {10,25.55,'data',35} # save in the Memory
print(a)
print(type(a))

In [ ]:
#using Dictionary

a = {'Name':'mouni','Age':28,'Salary':30.55}
print(a)

In [ ]:
#using Dictionary

a = {'Name':'mouni','Age':28,'Salary':30.55}

print(type(a))

In [ ]:
a = {'Name':['mouni','sachin','Nikhila'],
     'Age':[27,28,30],
     'Salary':['30k','35k','40k']}# using dict we can design the data in the form of exsheet
print(a)

In [ ]:
print(a['Name'])
print(a['Age'])
print(a['Salary'])

In [ ]:
import pandas as pd

pd.DataFrame(a)

In [ ]:
b = a['Age']
print(b.count(45))

In [ ]:
a = {'Name':'John' , 'Age':27 , 'Salary':1200.85} # save in the Memory
b = a['Age']
print(b)

In [ ]:
# we can get (key's&values)in using index.
a = {'Name':['mouni','sachin','Nikhila'],
     'Age':[27,28,30],
     'Salary':['30k','35k','40k']}
print(a['Age'][1])
print(a['Name'][2])
print(a['Salary'][2])

In [ ]:
a = {'Name':['mouni','sachin','Nikhila'],
     'Age':[27,28,30],
     'Salary':['30k','35k','40k']}
b = a['Age'][0:2]
print(b)

In [ ]:
#Dictionary in keys do'nt accept mutables(List)
f = {10 : 12, 45.55 : 20.87 , 'name':'steve',[1,2,3] : 100}

print(f)# it through an error

#Python Dictionary concept is Mutable or Immutable -> prove it

In [ ]:
## try to increase the Memory size

fruits = {'apple':100 , 'banana': 200 ,'carrot':300}
fruits['grapes'] = 500 # dict is mutable
print(fruits)

In [ ]:
#try to decrease the memory size
fruits = {'apple':100 , 'banana': 200 ,'carrot':300}
del fruits['banana']# dict is mutable
print(fruits)

In [ ]:
# override the values
a = {'Name' : ['John','Peter','Steve'] ,
     'Age' : [27,45,45] ,
     'Name' : [1200.85 , 1500.63 , 1900.22]# override the values
     } # using dict we can design the data in the form of exsheet
print(a)

From the Above Operations we can say that Python Dict is Mutable

In [ ]:
# get
a = {'Name':'John' , 'Age':27 , 'Salary':1200.85} # save in the Memory
print(a.get('Salary'))
print(a.get('Name'))
print(a.get('Age'))

In [ ]:
# update:
fruits = {'apple':100 , 'banana': 200 ,'carrot':300}

fruits.update({'cherry':600})
print(fruits)

In [ ]:
#update
fruits = {'apple':100 , 'banana': 200 ,'carrot':300}
fruits['grapes'] = 600
print(fruits)

In [ ]:
#pop
fruits = {'apple':100 , 'banana': 200 ,'carrot':300}

fruits.pop('carrot')
print(fruits)

In [ ]:
#pop(del)
fruits = {'apple':100 , 'banana': 200 ,'carrot':300}
del fruits['banana']
print(fruits)

In [ ]:
#pop item remove last key
fruits = {'apple':100 , 'banana': 200 ,'carrot':300}
fruits.popitem()
print(fruits)

In [ ]:
#keys
fruits = {'apple':100 , 'banana': 200 ,'carrot':300}
b = fruits.keys()
print(b)

In [ ]:
#values
fruits = {'apple':100 , 'banana': 200 ,'carrot':300}
b = fruits.values()
print(b)

In [ ]:
#items
fruits = {'apple':100 , 'banana': 200 ,'carrot':300}
b = fruits.items()
print(b)

In [ ]:
#clear
fruits = {'apple':100 , 'banana': 200 ,'carrot':300}
fruits.clear()
print(fruits)

In [ ]:
#deep copy
fruits = {'apple':100 , 'banana': 200 ,'carrot':300}
b = fruits # deep copy

print(fruits)
print(b)

print(id(fruits))
print(id(b))

fruits['apple'] = 500

print(fruits)
print(b)

In [ ]:
#shallow copy
fruits = {'apple':100 , 'banana': 200 ,'carrot':300}
b = fruits.copy() # shallow copy

print(fruits)
print(b)

print(id(fruits))
print(id(b))

fruits['apple'] = 500

print(fruits)
print(b)

In [ ]:
a = {1,2,3,4}
print(type(a))

In [ ]:
a = {1 : 10 , 2 : 20 , 3 : 30}
print(type(a))

In [ ]:
f = {'mm': 40, 'b': 10, 'ch': 20}
print(f)

In [ ]:
a = []
for i in range(1,10):
  a.append(i)
print(a)
b =[]
for j in range(1,10):
 b.append(j)
print(b)

In [ ]:
c = ({"a_value" : a , 'b_value' : b})
print(c)

In [ ]:
#Python Dictionary Operations
#Dictionary Membership Test #only applicaable for keys not values
mydict = {1: 1, 2: 8, 3: 27, 4: 64}
print(2 in mydict)
print(5 in mydict)
print(4 not in mydict)

In [ ]:
#Python popitem()
mydict = {'name': 'ashu', 'age': 45, 'gender': 'female'}
print(mydict.popitem())  # removing the last element and printing its key-value pair
print(mydict)  # printing updated dictionary

#control Statements

.for loop

.while loop

#conditional Statements

.if

.else

.elif

.break

In [ ]:
#syntax of forloop

for [var] in range(sp,ep):

In [ ]:
for i in range(15,18):
 print('Good morning',i)
 print('good afternoon',i)
 print('Good evening',i)

Good morning 15
good afternoon 15
Good evening 15
Good morning 16
good afternoon 16
Good evening 16
Good morning 17
good afternoon 17
Good evening 17

In [ ]:
print("india")

for i in range(13, 16):
  print('python programming language')
  print('data science course')# all are coming under 1 loop only
  for k in range(3, 7):
    print('Learning 6 months')

india
python programming language
data science course
Learning 6 months
Learning 6 months
Learning 6 months
Learning 6 months
python programming language
data science course
Learning 6 months
Learning 6 months
Learning 6 months
Learning 6 months
python programming language
data science course
Learning 6 months
Learning 6 months
Learning 6 months
Learning 6 months

In [ ]:
print('mouni')
for i in range(5,8,i):
  print('she is a girl')
print('she is living in hyderabad')
for j in range(2,5):
  print('chandu is boy')
  print('he is living in pragatinagar')
for k in range(1,3):
  print('ashu is a girl')
  print('she is staying with her parents')
  print('she is studying in 1st class',end=' ')
print('All are in one family')

mouni
she is a girl
she is living in hyderabad
chandu is boy
he is living in pragatinagar
chandu is boy
he is living in pragatinagar
chandu is boy
he is living in pragatinagar
ashu is a girl
she is staying with her parents
she is studying in 1st class ashu is a girl
she is staying with her parents
she is studying in 1st class All are in one family

In [ ]:
iphone = 80000
money = 140000
samsung = 50000
vivo = 30000

if money>iphone:
  print('i can buy iphone')

elif money>samsung:

  print('i can buy sumsung')
elif money>vivo:
  print('i can buy vivo')
else:
  print('i do not have to enough money')

In [ ]:
#even or odd numbers
for i in range(11,16):
  if i % 2 == 0:
    print(f'Even : {i}')

  else:
    print(f'Odd : {i}')

Odd : 11
Even : 12
Odd : 13
Even : 14
Odd : 15

In [ ]:
n = 5
r = 3

for i in range(n):
  print(r * i)

0
3
6
9
12

In [ ]:
 #5! = 5 * 4 * 3 * 2 * 1 = 120

n = 6
t = 1


for i in range(1,n):
  t = t * i


print(t)

120

In [ ]:
#numbers = [1, 4, 9, 16, 25, 36] sum of numbers
numbers = [1, 4, 9 , 16, 25, 36]
b = 0
for i in numbers:
   b = b+i
   print(b)

1
5
14
30
55
91

In [ ]:
#Write a Python program to count the number of characters in a string without using len function.
a = 'python java'
b = 0
for i in a:
  b= b+1
  print(b)

1
2
3
4
5
6
7
8
9
10
11

In [ ]:
#Write a Python program to find the longest word in a string.
a = 'python is Easy Language'
b=a.split(' ')
print(b)
c={}
for i in b:
  c[i]=len(i)
print(c)
z =max(c.values())
print(z)
for i in c:
  if c[i]==z:
    print(i)

['python', 'is', 'Easy', 'Language']
{'python': 6, 'is': 2, 'Easy': 4, 'Language': 8}
8
Language

In [ ]:
#Write a Python program to find the frequency of each character in a string.
a = 'sharuk khan'
d = {}
for i in a:
 if i not in d:
  d[i]= 1
 else:
  d[i]=d[i]+1
print(d)

{'s': 1, 'h': 2, 'a': 2, 'r': 1, 'u': 1, 'k': 2, ' ': 1, 'n': 1}

In [ ]:

#Write a Python program to find the most common character in a string.
a = 'Hello world'
d = {}
for i in a:
 if i not in d:
  d[i]= 1
 else:
  d[i]=d[i]+1
print(d)
c = 2
for j in d:
  if d[j] > c:
    f= d[j]#frequency
    e = j#character

print("Most frequent character:", e)
print("Frequency:", f)

{'H': 1, 'e': 1, 'l': 3, 'o': 2, ' ': 1, 'w': 1, 'r': 1, 'd': 1}
Most frequent character: l
Frequency: 3

In [ ]:
#Write a Python program to reverse a string without using [::-1]
s = "Python"
d = ''
for i in s:
  d = i+d
print(d)

nohtyP

In [ ]:
#Write a Python program to check if a string is a palindrome don't use [::-1].
a = 'NUN'
d = ''
for i in a:
  d =i+d
if d==a:
   print(f'Palindrome:{d}')
else:
   print(f'not palindrome:{d}')

Palindrome:NUN

In [ ]:
#Write a Python program to capitalize the first letter of each word in a string [dont use built-in-function called title].
a = 'python is easy'
b = a.split()
c = ''
for i in b:
  c = i.capitalize()
  print(c,end=' ')

Python Is Easy

In [ ]:
#Write a Python program to remove all the vowels from a string.
a= 'python'
b = 'AEIOUaeiou'
c ={}
for i in a:
  if i not in c:
   c[i] = 1
for j in c:
  if j not in b:
    print(j,end=' ')

p y t h n

In [ ]:
#Write a Python program to check if two strings are anagrams.
var1 = 'listen'
var2 = 'silent'

c =0
for i in var1:
 if i in var2:
    c = c+1
if len(var1)==c:
  print(f'anagrams')
else:
  print(f'not anagrams')

anagrams

In [ ]:
#write a python programme to find the sum of all the even characters based on Ascii values
a = 'sharuk khan'
r = 0
for i in a:
  if ord(i)%2==0:
    r = r + ord(i)
print(r)

464