## Tuple

In [ ]:
a = () # paranthesis
a

()

In [ ]:
mytuple = (10, 30, 20, 40)
print(mytuple)

(10, 30, 20, 40)

In [ ]:
mytuple = (2, "Hello", [1, 2, 3], (100, 200), 2)
print(mytuple)

(2, 'Hello', [1, 2, 3], (100, 200), 2)

In [ ]:
print(type(()))

<class 'tuple'>

In [ ]:
a = 10 , 20 , 30
print(a)
print(type(a))

(10, 20, 30)
<class 'tuple'>

In [ ]:
mytuple = 10, "Hello", 20
print(mytuple)
print(type(mytuple))

(10, 'Hello', 20)
<class 'tuple'>

In [ ]:
a = (10 ,)
print(a)
print(type(a))

(10,)
<class 'tuple'>

In [ ]:
#Creating a Tuple With One Item
var1 = (10,)
print(var1)
print(type(var1))

var2 = (10)
print(var2)
print(type(var2))

(10,)
<class 'tuple'>
10
<class 'int'>

In [ ]:
var1 = ("Hello Python",)
print(var1)
print(type(var1))

var2 = ("Hello Python")
print(var2)
print(type(var2))

('Hello Python',)
<class 'tuple'>
Hello Python
<class 'str'>

In [ ]:
var1 = (10,)
print(var1)
print(type(var1))

var2 = (10)
print(var2)
print(type(var2))

(10,)
<class 'tuple'>
10
<class 'int'>

In [ ]:
#Accessing Elements from Tuple in Python
mytuple = (4, 9, 6, 2)
print(mytuple[0])
print(mytuple[1])
print(mytuple[2])
print(mytuple[3])

4
9
6
2

In [ ]:
#Negative Index in Python Tuple
mytuple = (4, 9, 6, 2)

#accessing using indices
print(mytuple[0])
print(mytuple[1])
print(mytuple[2])
print(mytuple[3])

# accessing using negative indices
print(mytuple[-1])
print(mytuple[-2])
print(mytuple[-3])
print(mytuple[-4])

4
9
6
2
2
6
9
4

In [ ]:
mytuple = (4, [10, 20], (100, 200, 300), "Python")

#accessing elements of nested list
print(mytuple[1][0])  # 10

#accessing elements of nested tuple
print(mytuple[2][1])  # 200

#accessing elements of nested string
print(mytuple[3][4])  # o

10
200
o

In [ ]:
#Python Tuple Slicing
mytuple = (1,2,3,4,5)
print(mytuple[1:4])# till 3 ,  n - 1

(2, 3, 4)

In [ ]:
mytuple = (1, 2, 3, 4, 5, 6)

# from 2nd element till 5th element
print(mytuple[1:5])

# from start till 5th element
print(mytuple[:5])

# from 5th element till end
print(mytuple[4:])

# from start till 3rd last element
print(mytuple[:-2])

# from 4th last element till 3rd last element
print(mytuple[-4:-2])

# from 3rd element till 3rd last element
print(mytuple[2:-2])

# all elements
print(mytuple[:])

(2, 3, 4, 5)
(1, 2, 3, 4, 5)
(5, 6)
(1, 2, 3, 4)
(3, 4)
(3, 4)
(1, 2, 3, 4, 5, 6)

In [ ]:
mytuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

# from 2nd element till 9th element
print(mytuple[1:9])

# from 2nd element till 9th element in step 2
print(mytuple[1:9:2])

# from 2nd element till 9th element in step 3
print(mytuple[1:9:3])

(2, 3, 4, 5, 6, 7, 8, 9)
(2, 4, 6, 8)
(2, 5, 8)

In [ ]:
mytuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

# reversed tuple
print(mytuple[::-1])
# reversed tuple with step -2
print(mytuple[::-2])

(10, 9, 8, 7, 6, 5, 4, 3, 2, 1)
(10, 8, 6, 4, 2)

In [ ]:
## Immutable

In [ ]:
#Changing Elements of Python Tuple
mytuple = (1,2,"Hello World!")
mytuple[1] = 5

TypeError: 'tuple' object does not support item assignment

In [ ]:
#Deleting Python Tuple
mytuple = (1,2,"Hello Python!")
del mytuple[1]

TypeError: 'tuple' object doesn't support item deletion

In [ ]:
mytuple = (1,2,"Hello Python!")
del mytuple
print(mytuple)

NameError: name 'mytuple' is not defined

In [ ]:
#tuples packing and unpacking
person = ("ashu", '4ft', "web developer")
print(person)

('ashu', '4ft', 'web developer')

In [ ]:
#unpacking tuples
person = ("ashu", '4ft', "web developer")
(name, height, profession) = person
print(name)
print(height)
print(profession)

ashu
4ft
web developer

In [ ]:
#Python Tuple Operations
tuple1 = (1, 2, 3)
tuple2 = ('a', 'b', 'c', 'd')
tuple3 = tuple1 + tuple2
print(tuple3)

(1, 2, 3, 'a', 'b', 'c', 'd')

In [ ]:
tuple1 = (1, 2)
tuple2 = tuple1 * 4
print(tuple2)

(1, 2, 1, 2, 1, 2, 1, 2)

In [ ]:
#Python Tuple Membership Test
mytuple = (1, 2, "Blue", "Green")
print(2 in mytuple)
print(4 in mytuple)
print("Green" not in mytuple)

True
False
False

In [ ]:
#Python Iteration Through a Tuple
colors = ("Blue", "Green", "Red")
for i in colors:
    print(i)

Blue
Green
Red

In [ ]:
mytuple = tuple()
print(mytuple)

()

In [ ]:
a = [1,2,3]
print(type(a))
b = tuple(a)
print(type(b))

<class 'list'>
<class 'tuple'>

In [ ]:
tuple1 = tuple([1, 2, 3])  # list is converted to tuple
tuple2 = tuple("Python Program")  # string is converted to tuple
print(tuple1)
print(tuple2)

(1, 2, 3)
('P', 'y', 't', 'h', 'o', 'n', ' ', 'P', 'r', 'o', 'g', 'r', 'a', 'm')

In [ ]:
#Built-in Functions in Python for Tuples
mytuple = (1, 2, 3, 4, 5, 6)
print(len(mytuple))

6

In [ ]:
mytuple = (3, 2, 1, 5, 6, 4 , 100)
print(max(mytuple))

100

In [ ]:
mytuple = (3, 2, 1, 5, 4)
print(min(mytuple))

1

In [ ]:
mytuple = (3, 2, 1, 5, 6, 4)
print(sum(mytuple))

21

In [ ]:
mytuple = (3, 2, 1, 5, 6, 4)
print(sorted(mytuple))

[1, 2, 3, 4, 5, 6]

In [ ]:
mytuple = (3, 2, 1, 5, 6, 4)
print(sorted(mytuple, reverse=True))

[6, 5, 4, 3, 2, 1]

In [ ]:
languages = ('Python', 'C', 'Java', 'C++', 'Java' , 'Java')

print(languages.index('Java')) # printing index of first occurrence of 'Java'

print(languages.count('Java')) # printing count of 'Java'

2
3

In [ ]:
tuple = ("ab", "ban", "cy")
tuple.append("xs") # This will raise an error
print(tuple)

AttributeError: 'tuple' object has no attribute 'append'

In [ ]:
#tuple methods
#count()	Returns the number of times a specified value occurs in a tuple
#index()	Searches the tuple for a specified value and returns the position of where it was found

In [ ]:
#Create a tuple with numbers
tuplex = 5, 10, 15, 20, 25
print(tuplex)
#Create a tuple of one item
tuplex = 5,
print(tuplex)

(5, 10, 15, 20, 25)
(5,)

In [ ]:
tup = ('e', 'x', 'e', 'r', 'c', 'i', 's', 'e', 's')
str =  "".join(tup)
print(str)

exercises

In [ ]:
#convert tuple into list
tuple4 = ("999", "ana", "5689")
y = list(tuple4)
print(y)
y.append("8970")
tuple4 = tuple(y)
print(tuple4)

['999', 'ana', '5689']
('999', 'ana', '5689', '8970')